{% extends "layout_tpn.html" %}

{% block subheader %}
   <meta name="description" content="">
{% endblock%}


{% block pagecontent %}

<div class="pagewrapper">

   <h1>AutobahnJS Tutorials</h1>

   <p>
      Tutorials are here to guide you through specific areas of {{ autobahnjs() }}.
      They explain things step by step, but may not cover all features available.
      For the latter, please consult the <a href="{{ url_for('page_js_reference') }}">API reference</a>.
   </p>

   <ul>
      <li><a href="{{ url_for('page_js_tutorials_rpc') }}">Remote Procedure Calls with {{ autobahnjs() }}</a></li>
      <li><a href="{{ url_for('page_js_tutorials_pubsub') }}">Publish &amp; Subscribe with {{ autobahnjs() }}</a></li>
      <li>WAMP Session Authentication</li>
   </ul>

</div>

{% endblock %}
