{% extends "layout_tpnd.html" %}

{% block subsubheader %}
   <meta name="description" content="Tutorial for remote procedure calls over WebSockets with Autobahn.oss">
{% endblock %}

{% block pagecontent %}

   <div class="pagewrapper">

      <a name="top"></a>
      <h1>Remote Procedure Calls with {{ autobahnjs() }}</h1>

         <p>
            The goal of this tutorial is to introduce remote procedure calls (RPC) with {{ autobahnjs() }}.
         </p>
         <p>
            RPC, as the name suggests, means calling a procedure remotely. The remote procedure endpoint is most usually on a server, but with {{ wamp() }}, the protocol which {{ autobahnjs() }} implements, it can also be within a JavaScript client.
         </p>
         <p>
            The result of the called procedure is received in the call return. Examples of RPCs are a request to a server to send some current weather data when a weather app starts up, or the sending of some form input to be verified on a server.</p>
         <p>
            In {{ autobahnjs() }}, RPC is implemented based on
            {{ wamp() }}, an open protocol that does both RPC and Publish & Subscribe (PubSub) over WebSocket. There's also a <a href="{{ url_for('page_js_tutorials_pubsub') }}">tutorial</a> for how to do PubSub using {{ autobahnjs() }}.
         </p>

         <p>
            In this tutorial we will create a small web app that consists of two clients which connect to a WAMP server. One of the clients provides an RPC endpoint (the 'backend') while the other calls this procedure and logs its result (the 'frontend'). The WAMP server routes the calls and results.
         <p>

         <p>
            We will create both the 'frontend' and the 'backend' ready to run in a browser, but the JavaScript can equally be executed in Node.js.
         </p>

         <p>
            Download links for all code are provided with the explanations for the respective parts.
         </p>

      <h2>Prerequisites</h2>

         <p>
            For this tutorial, you will need
            <ul>
               <li>
                  a modern Web Browser with WebSockets to run the clients, and
               </li>
               <li>
                  <a href="http://crossbar.io/">Crossbar.io</a>, a WAMP application router to provide the RPC routing
               </li>
            </ul>
         </p>

         <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>The WAMP RPC demo server</h2>

      <p>
         Browsers can only act as WebSockets clients, so we need something external to the browser to act as a sever. For this we use Crossbar.io, an open source application server.
      </p>

      <p>
         For the installation of Crossbar.io, see the <a href="https://github.com/crossbario/crossbar/wiki/Getting-Started">detailed instructions</a> at the project GitHub repo.
      </p>

      <p>
         Once you've installed Crossbar.io, open a command shell, create a test directory, initialize Crossbar.io and start it.
      </p>

      {{ beginshell() }}
mkdir test1
cd test 1
crossbar init
crossbar start
      {{ endshell() }}

      <p>
         That's it - Crossbar.io is running, ready to route our RPCs. (It runs until you break out from the Python interpreter - Ctrl-C/D/Z depending on your platform).
      </p>

      <p>
         With this we have all the non-JavaScript stuff out of the way. From now on it's web technologies only.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>


      <h2>The HTML</h2>

      <p>
         The HTML is very simple for both the 'frontend' and the 'backend'.
      </p>

      <p>
         For the 'backend', we want something which identifies the browser tab to us, plus, of course, we need to load the WAMP library, {{ autobahnjs() }}.
      </p>

      <div class="codeex">
         <script type="syntaxhighlighter" class="brush: xml; toolbar: false; auto-links: false;"><![CDATA[
<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <title>AutobahnJS RPC Backend</title>
</head>
<html>
   <body>
      <h1>AutobahnJS RPC Backend</h1>
      <p>Open JavaScript console to watch output.</p>
      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz">&lt;/script>
   </body>
</html>
            ]]>
         </script>
      </div>

      <p>
         For the 'frontend', all that changes are the title strings, i.e. "AutobahnJS RPC Backend" is now "AutobahnJS RPC Frontend".
      </p>

      <div class="codeex">
         <script type="syntaxhighlighter" class="brush: xml; highlight: [4, 8]; toolbar: false; auto-links: false;"><![CDATA[
<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <title>AutobahnJS RPC Frontend</title>
</head>
<html>
   <body>
      <h1>AutobahnJS RPC Frontend</h1>
      <p>Open JavaScript console to watch output.</p>
      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz">&lt;/script>
   </body>
</html>
            ]]>
         </script>
      </div>

      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>The JavaScript</h2>

      <p>
         To make the demo quick to run in the browser, the JavaScript is included as an inline script in the frontend and backend client HTML files.
      </p>
      <ul>
         <li>
            <a href="{{ url_for('static', filename='file/autobahnjs_rpc_backend.html') }}">Backend</a>
         </li>
         <li>
            <a href="{{ url_for('static', filename='file/autobahnjs_rpc_frontend.html') }}">Frontend</a>
         </li>
      </ul>
      <p>
         The JavaScript on its own can, however, also be run in Node.js. In this case, use
      </p>
      <ul>
         <li>
            <a href="{{ url_for('static', filename='file/autobahnjs_rpc_backend.js') }}">Backend</a>
         </li>
         <li>
            <a href="{{ url_for('static', filename='file/autobahnjs_rpc_frontend.js') }}">Frontend</a>
         </li>
      </ul>
      <p>
         The only difference is that in the browser, {{ autobahnjs() }} is loaded via a script tag, while in Node.js we need to include it via node's dependency management.
      </p>
      <p>
         In order to be freely movable, we can add code which covers both use cases:
      </p>
      <div class="codeex">
         <pre class="brush: javascript; toolbar: false; auto-links: false;">
            try {
               var autobahn = require('autobahn');
            } catch (e) {
               // when running in browser, AutobahnJS will
               // be included without a module system
            }
         </pre>
      </div>


      <h2>Connecting to the Server</h2>

      <p>
         The first thing we need to do if we want to use RPC over WebSockets is to establish a WebSocket connection. WebSocket is built into modern browsers, so in principle we could use the built-in API for this.
      </p>
      <p>
         Establishing the connection itself is quite straight forward, but WebSockets is  a low-level protocol. It does not provide any in-built features for Remote Procedure calls. For these we use WAMP.
      </p>
      <p>
         {{ autobahnjs() }} not only implements WAMP, but also some comfort features for handling WebSocket connections. Because of this all our interaction for the connection is via {{ autobahnjs() }}.
      </p>
      <p>
         The code to establish a WAMP/WebSocket connection is the same for both the frontend and the backend.
      </p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [2, 8, 13]; toolbar: false; auto-links: false;">
            // Set up WAMP connection to router
            var connection = new autobahn.Connection({
               url: 'ws://localhost:8080/ws',
               realm: 'tutorialrpc'}
            );

            // Set up 'onopen' handler
            connection.onopen = function (session) {
               // code to execute on connection open goes here
            };

            // Open connection
            connection.open();
         </pre>
      </div>

      <p>
         What we do here is:
      </p>
      <ul>
         <li>
            We define (line 2) a WAMP/WebSocket connection with the minimum amount of necessary parameters
            <ul>
               <li>
                  The WebSockets address to connect to. This starts with the WebSockets protocol prefix 'ws' (instead of 'http' for regular web traffic), and here is the localhost on port 9000. It could equally be the IP of the machine you run the server on.
               </li>
               <li>
                  The WAMP realm to connect to. Realms are used to group connections to a WAMP server together, and to e.g. apply permissions to them. With our demo server, we are free to chose a realm name.
               </li>
            </ul>
         </li>
         <li>
            We set up an 'onopen' handler, i.e. a function to execute once a connection has been established (starting at line 8). This is passed an object through which we can interact with the established WAMP/WebSocket session.
         </li>
         <li>
            We open the WAMP/WebSocket connection (line 13).
         </li>
      </ul>

      <p>
         The options dictionary for the connection accepts further optional arguments. For this tutorial, none of these are relevant.
      </p>

      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>On connect</h2>

      <p>
         Once the connection is established, the code in the 'onopen' handler is executed.
      </p>

      <p>
         For the <strong>backend</strong> this is:
      </p>

      <div class="codeex">
         <pre id="code" class="brush: javascript; highlight: [2, 9, 10, 13]; toolbar: false; auto-links: false;">
            // Define the remote procedure
            function utcnow() {
               console.log("Someone is calling me;)");
               now = new Date();
               return now.toISOString();
            }

            // Register the remote procedure with the router
            session.register('com.timeservice.now', utcnow).then(
               function (registration) {
                  console.log("Procedure registered:", registration.id);
               },
               function (error) {
                  console.log("Registration failed:", error);
               }
            );
         </pre>
      </div>

      <p>
         What we do here is:
      </p>
      <ul>
         <li>
            We define the function to be executed as a remote procedure (starting line 2). This simply logs the fact that it has been called to the console, and returns the current time in ISO format.
         </li>
         <li>
            We register this function as a remote procedure with the WAMP router we're connected to (line 9). The registration itself has two arguments:
            <ul>
               <li>
                  The name of the function to register ('utcnow')
               </li>
               <li>
                  The identifier which a caller needs to use for calling the procedure. For this, WAMP uses URIs following the Java package naming convention.
               </li>
            </ul>
         </li>
         <li>
            The registration creates a promise, which is resolved when the registration either succeeds or fails. We attach a handler for either outcome to the promise (that's the '.then()'). For more on promises see below.
         </li>
         <li>
            The first function (starting in line 10) is called if the registration succeeds and logs the registration ID that the server has created. (This is need in case of de-registration of the procedure.)
         </li>
         <li>
            The second function (starting in line 13) is called if the registration fails and just logs the received error code.
         </li>
      </ul>

      <p>
         For the <strong>frontend</strong> this is:
      </p>

      <div class="codeex">
         <pre id="code" class="brush: javascript; highlight: [2, 4, 8]; toolbar: false; auto-links: false;">
            setInterval(function() {
               session.call('com.timeservice.now').then(
                  // RPC success callback
                  function (now) {
                     console.log("Current time:", now);
                  },
                  // RPC error callback
                  function (error) {
                     console.log("Call failed:", error);
                  }
               );
            }, 1000);
         </pre>
      </div>

      <p>
         What we do here is:
      </p>
      <ul>
         <li>
            We want to call the timeservice remote procedure once per second, so we wrap the actual call in an interval timer.
         </li>
         <li>
            The call to the remote procedure occurs in line 2. All we need here is the identifier of the procedure. With a procedure which requires input, there would additionally be call arguments. For possible call argument types, see the reference.
         </li>
         <li>
            The call creates a promise, which is resolved when the call either succeeds or fails. We attach a handler for either outcome to the promise (that's the '.then()'). For more on promises see below.
         </li>
         <li>
            The first function (starting in line 4) is called if the call succeeds and logs the ISO time string that the procedure has returned.
         </li>
         <li>
            The second function (starting in line 8) is called if the call fails and just logs the received error code.
         </li>
      </ul>

      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>Using Promises to handle deferred outcomes</h2>

      <p>
         With all networking events, the outcome of a process involves network latencies. Quite often the connection will be one over the web (we are using WebSockets, after all). With this, for simple functions (like our RPC procedure), the accumulated round trip times will be several orders of magnitude above that for a locally executed one.<br>
         Conventional synchronous programming in JavaScript, in which the program blocks until there is a function result, is not an option if apps are to remain speedy.
      </p>
      <p>
         To handle this problem, the {{ autobahnjs() }} library implements a form of promises. This means that together with the RPC, you pass at least one function to handle the result of the RPC, e.g.
      </p>
      <pre id="code" class="brush: javascript; ; toolbar: false; auto-links: false; gutter:false">sess.call('com.timeservice.now').then(console.log);</pre>
      <p>
         This is what the argument of the '.then()' after the RPC is. The execution of this function is then deferred until the result has been received (the 'promise' has been fulfilled).
      </p>
      <p>
         In the above example, only a single function is passed as an argument, and this is called when the RPC is successful (i.e. returns a result - this result itself can be an error message of the called procedure). In our demo, we also pass a second function which is executed if the RPC itself fails, e.g. if it couldn't be sent.
      </p>
      <p>
         There's no need for you to manage anything regarding the passed functions - reception of the result and execution of the function for handling the result, or calling of the error function, are fully automatic in the background. All it may take is a little rethinking of some of the habits from synchronous programming - but you gain an extremely powerful and flexible tool.
      </p>
      <p>Using promises, we can do things like:</p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [2]; toolbar: false; auto-links: false;">
            // call a function and call another function on success
            sess.call('com.timeservice.now').then(function(res) {
               sess.call('com.formatstrings.date', res).then(console.log);
            });
         </pre>
      </div>
      <p>
         Here a second RPC is made once the result of the first one is received, and this first result is passed as an argument. The result of this second RPC is then logged.<br>
         This is actually somewhat easier than the reverse chaining of functions that conventional JavaScript would demand, where the last executed function is the outermost, with all previous ones nested successively backwards inside.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>Summary & Beyond</h2>
      <p>This gave an overview how simple RPCs are with {{ autobahnjs() }} - no more than a line of code each</p>
      <p>
         If you're interested, the <a href="{{ url_for('page_js_tutorials_pubsub')}}">PubSub Tutorial</a> shows you an equally quick and easy start into publish & subscribe with {{ autobahnjs() }}. Or go to the <a href="{{ url_for('page_python_examples')}}">Python examples</a> to start exploring how the WAMP demo server works - and to implement some procedures there that fit your needs better than our simple math functions.
      </p>


      <a class="awh_up_developers" href="#top">Up</a>
         <br/>
         <br>
         <br>


   </div> <!-- pagewrapper -->

{% endblock %}
