{% extends "layout_tpnd.html" %}

{% block subsubheader %}
   <meta name="description" content="Tutorial for remote procedure calls over WebSockets with Autobahn.oss">
{% endblock %}

{% block pagecontent %}

   <div class="pagewrapper">

      <a name="top"></a>
      <h1>Remote Procedure Calls with {{ autobahnjs() }}</h1>

         <p>
            The goal of this tutorial is to introduce remote procedure calls (RPC) with {{ autobahnjs() }}.
         </p>
         <p>
            RPC, as the name suggests, means calling a procedure remotely, e.g. on a server. The result of that procedure is received in the call return. Examples of RPCs are a request to a server to send some current weather data when a weather app starts up, or sending of some form input to be verified on a server.</p>
         <p>
            In {{ autobahnjs() }}, RPC is implemented based on
            {{ wamp() }}, an open protocol that does both RPC and Publish & Subscribe (PubSub) over WebSocket. There's also a <a href="{{ url_for('page_js_tutorials_pubsub') }}">tutorial</a> for how to do PubSub using {{ autobahnjs() }}.
         </p>

         <p>
            In this tutorial we will create a small web app that connects to a WAMP server and sends some RPCs. The results of these calls are logged to the console.
         <p>

         <p>
            You can find all code for this tutorial in the <a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/rpc/simple" target="_blank">source repository</a> for {{ autobahnpython() }}
         </p>

      <h2>Prerequisites</h2>

         <p>
            For this tutorial, you will need a
            <ul>
               <li><a href="{{ url_for('page_home') }}">Web Browser with WebSockets</a>
            to run the web app, and</li>
               <li><a href="{{ url_for('page_home') }}">{{ autobahnpython() }}</a> to run the demo server which the web app connects to.</li>
            </ul>
         </p>

         <p>
         The full code for the web app can be found in the <a href="https://github.com/tavendo/AutobahnPython/blob/master/examples/rpc/simple/client.html">Git Repository</a>. We'll go over all of it piece by piece now.
         </p>

         <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>The WAMP RPC demo server</h2>

      <p>
         Browsers can only act as WebSockets clients, so we need something external to the browser to act as a sever. For this we provide a WAMP demo server written in Python.
      </p>
      <p>
         To run this, you need a few things installed. Fortunately, all of these are quick and easy to do.
      </p>
      <ul>
         <li>
            Download and install the <a href="http://www.python.org/getit/releases/2.7.2/">Python 2.7 installation package</a> for your system (just use the default settings for the installation).
         </li>
         <li>
            Download and install the <a href="http://pypi.python.org/pypi/setuptools">Python setuptools</a> (this makes the next install a breeze).
         </li>
         <li>
            In a command shell, type<br>
            <pre class="shell">easy_install autobahntestsuite</pre> This automatically gets the install package from the internet. The {{ autobahntestsuite() }} contains the {{ autobahnpython() }} libraries as well as a test server for this and other tutorials.
         </li>
         <li>
            In the command shell, go to the python directory (e.g. 'Python27' on your C: drive if you installed with defaults under Windows). There, go to the 'lib' folder, and in that to the 'site-packages' folder. There you'll see an 'autobahn' folder (which has the version number appended at the end). Go to that folder and type<br>
            <pre class="shell">wstest -m wampserver</pre>
         </li>
      </ul>
      <p>That's it - the WAMP demo server is running. (It runs until you break out from the Python interpreter - Ctrl-C/D/Z depending on your platform).
      </p>
      <p>
         With this we have all the non-JavaScript stuff out of the way. From now on it's web technologies only.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>


      <h2>Including {{ autobahnjs() }}</h2>


      <p>To use RPCs in our web app, we need {{ autobahnjs() }}. We include the {{ autobahnjs() }} script in the head of our HTML:</p>

      <div class="codeex">
         <pre type="syntaxhighlighter" class="brush: xml; toolbar: false; auto-links: false;">
            &lt;head&gt;
               <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
            &lt;&#47;head&gt;
         </pre>
      </div>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>The HTML</h2>

      <p>
         The HTML for the web app is very simple:
      </p>

      <div class="codeex">
         <pre type="syntaxhighlighter" class="brush: xml; toolbar: false; auto-links: false;">
            &lt;body&gt;
               <h1>Simple RPCs with WAMP</h1>
               <noscript>
                  <span style="color: #f00; font-weight: bold;">
               You need to turn on JavaScript.
                  </span>
               </noscript>
               <p>
                  Open development console (press F12) to watch and press
                  <button onclick="run();">Run</button>
               </p>
            &lt;&#47;body&gt;
         </pre>
      </div>

      <p>
         The 'noscript' tag contains a reminder to turn on JavaScript in the browser if you run a script blocker.<br>
         Else a request to open the developer console of the browser is shown, together with a 'run' button which is wired to execute a 'run' function in our JavaScript.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>



      <h2>Connecting to the Server</h2>

      <p>
         The first thing we need to do if we want to use RPC over WebSockets is to establish a WebSocket connection. WebSocket is built into modern browsers, so in principle we could use the built-in API for this.<br>
         Establishing the connection itself is quite straight forward, but then there's all the hassle of e.g. handling connection failures. {{ autobahnjs() }} wraps the browser WebSockets functionality, and add some other comfort features under the hood, e.g. automatic reconnects. Because of this all our interaction for the connection is via {{ autobahnjs() }}.
      </p>
      <p>
         Establishing a WAMP-enabled WebSocket connection is via the 'ab' object that {{ autobahnjs() }} creates.
      </p>
      <p>
         We want the connecting to the server established once the document has finished loading, so we call this via 'window.onload':
      </p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [4, 7, 14]; toolbar: false; auto-links: false;">
            window.onload = function() {

               // connect to WAMP server
               ab.connect("ws://localhost:9000",

                  // WAMP session was established
                  function (session) {

                     // things to do once the session has been established

                  },

                  // WAMP session is gone
                  function (code, reason) {

                     // things to do once the session fails
                  }
               );
            };
         </pre>
      </div>

      <p>
         In this anonymous function, the only thing we do directly is ask for a connection. This is via the 'connect' method of the 'ab' object (line 4).<br>
      We pass three arguments to the 'connect' method:
      </p>
      <ul>
         <li>
            The WebSockets address to connect to. This starts with the WebSockets protocol prefix 'ws' (instead of 'http' for regular web traffic), and here is the localhost on port 9000. It could equally be the IP of the machine you run the server on.
         </li>
         <li>
            A first function to execute once a connection has been established (starting at line 7). This is passed an object through which we can interact with the established WebSocket session.
         </li>
         <li>
            A second function to execute if the connection cannot be established (starting at line 14), or when the connection closes. This is passed arguments that give the reason for the failure.
         </li>
      </ul>

      <p>
         (The connect method also accepts a fourth argument, which allows fine-tuning of the options for the connect process, such as the maximum number of reconnect attempts. For this demo, we'll just use the defaults for these options.)
      </p>

      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>On connect</h2>

      <p>
         For an established connection, the following is executed:
      </p>

      <div class="codeex">
         <pre id="code" class="brush: javascript; highlight: [2, 3]; toolbar: false; auto-links: false;">
                  // WAMP session was established
                  function (session) {
                     sess = session;
                     console.log("Connected!");
                  }
         </pre>
      </div>

      <p>
         We bind the session object that is passed into the function (line 2) to a global variable 'sess' (line 4). In order to do this, we need to define 'sess' at the beginning of our JavaScript:
      </p>

      <div class="codeex">
         <pre id="code" class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            // WAMP session object
            var sess;
         </pre>
      </div>

      <p>
         All interaction with the WebSocket session is then via this global object.
      </p>

      <p>
         In our example web app, we then log the fact that we are connected to the console.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>Establishing session prefixes</h2>

      <p>
         WebSocket isn't the only web standard that WAMP is based on. To identify procedures, WAMP uses URIs. These need to be properly formatted URIs, but there is no need for them to actually resolve to anything on the web.
      </p>
      <p>
         They are used as identifiers within WAMP because URIs are a simple and established way of guaranteeing globally unique namespaces. Nobody needs to worry that their identifier for a remote procedure conflicts with anybody else's, as long as it is within a domain that he or she controls.
      </p>
      <p>
         So URIs as identifiers for procedures are useful in principle - but practically speaking, they can get a bit long. Nobody wants to remember, type or even just have to read something such as<br>
         <span class="ident_tut">http://example.com/remoteprocedures/mathfunctions#add </span><br>
         or<br>
      <span class="ident_tut">http://example.com/remoteprocedures/mathfunctions#sum</span><br>
      all the time.
      </p>
      <p>
         Session prefixes enable us to shorten this to something much more manageable. We just define a shorthand for any parts of URIs that repeat, e.g. in the above example, we would define a prefix for<br>
         <span class="ident_tut">http://example.com/remoteprocedures/mathfunctions</span><br>
         and then use this to call our 'add' or 'sum' functions.
      </p>
      <p>
         To define a prefix for an {{ autobahnjs() }} session, we use the 'prefix' method of the session object, and add this to our previous on connect function.
      </p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [8]; toolbar: false; auto-links: false;">
                  // WAMP session was established
                  function (session) {

                     sess = session;
                     console.log("Connected!");

                     // establish a prefix, so we can abbreviate procedure URIs ..
                     session.prefix("calc", "http://example.com/simple/calc#");
                  }
         </pre>
      </div>

      <p>
         Calling the 'prefix' method (line 8) has now established 'calc' as shorthand for<br>
         <span class="ident_tut">http://example.com/remoteprocedures/mathfunctions</span><br>
         and we can use this whenever we make a procedure call in the current session to a remote procedure that performs a math function. We need to do this once every new session.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>If the session fails</h2>

      <p>
         As we said before, the 'connect' method on the 'ab' object takes a second function to execute in case the connection fails. This covers an initial failure to connect as well as a closing or break-off of the connection.
      </p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [3, 4]; toolbar: false; auto-links: false;">
                  // WAMP session is gone
                  function (code, reason) {
                     sess = null;
                     alert(reason);
                  }
         </pre>
      </div>

      <p>
         In our example web app, we only do two things here:
      </p>
      <ul>
         <li>
            We reset the binding for our global variable 'sess' to null (line 3).
         </li>
         <li>
            We show the string containing the human-readable reason for the connection fail in an alert box (line 4).
         </li>
      </ul>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>


      <h2>Sending an RPC</h2>

      <p>
         Now that we have a WebSocket connection to a WAMP server, we are ready to make some calls. The demo web server has some simple arithmetic operations implemented.
      </p>
      <p>
         The 'run' button in the the example web app is wired to a 'run' function, and this makes a set of these calls. Let's take a look at a few of these right now to get the basic structure.
      </p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [4, 7, 10]; toolbar: false; auto-links: false;">
            function run()
            {
               // call a function and log result on success
               sess.call("calc:square", 23).then(ab.log);

               // call a function with multiple arguments
               sess.call("calc:add", 23, 7).then(ab.log);

               // call a function with list of numbers as arg
               sess.call("calc:sum", [1, 2, 3, 4, 5]).then(ab.log);
            }
         </pre>
      </div>

      <p>
         We use the session object 'sess' to make the calls - or, more precisely, the 'call' method of that object.
      </p>
      <p>
         The 'call' method requires as its first argument an URI identifying the procedure that is called. In all our examples, we use the prefix we defined when we initiated the session, e.g. 'calc:square' (line 4) is just a shorthand for<br>
         <span class="ident_tut">http://example.com/remoteprocedures/mathfunctions#square</span><br>
      </p>
      <p>
         The call method can take zero or more additional arguments.<br>
      Here only a single integer is passed to 'square' to be squared (line 4), while 'add' naturally takes two (line 7). For 'sum' only a single argument is passed (line 10) - but this is an array of integers.<br>
      In principle arguments can be of any data type or object that is handled by JavaScript. (Under the hood, WAMP serializes the entire call as JSON, which is another web standard, and is designed to handle data from JavaScript.)
      </p>

      <p>
         We'll take a closer look at the other RPCs, and what happens as the result of these, but first we need to cover how responses to calls are handled.
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>Deferred handling of Responses</h2>

      <p>
         With RPCs, we are calling a procedure that is executed on a connected device or process. Quite often the connection will be one over the web (we are using WebSockets, after all). With this, for simple functions, the accumulated round trip times will be several orders of magnitude above that for a locally executed one.<br>
         Conventional synchronous programming in JavaScript, in which the program blocks until there is a function result, is not an option if apps are to remain speedy.
      </p>
      <p>
         To handle this problem, the {{ autobahnjs() }} library implements a form of deferreds. This means that together with the RPC, you pass at least one function to handle the result of the RPC, e.g.
      </p>
      <pre id="code" class="brush: javascript; ; toolbar: false; auto-links: false; gutter:false">sess.call("calc:square", 23).then(ab.log);</pre>
      <p>
         This is what the argument of the '.then()' after the RPC is. The execution of this function is then deferred until the result has been received.
      </p>
      <p>
         In our examples, only a single function is passed as an argument, and this is called when the RPC is successful (i.e. returns a result - this result itself can be an error message of the called procedure). It is also possible to pass a second function which is executed if the RPC itself fails, e.g. if it couldn't be sent. If this is used, the first and the second function are simply separated by a comma.
      </p>
      <p>
         There's no need for you to manage anything regarding the passed functions - reception of the result and execution of the function for handling the result, or calling of the error function, are fully automatic in the background. All it may take is a little rethinking of some of the habits from synchronous programming - but you gain an extremely powerful and flexible tool.
      </p>
      <p>This is what we are using in a further call:</p>

      <div class="codeex">
         <pre class="brush: javascript; highlight: [2]; toolbar: false; auto-links: false;">
            // call a function and call another function on success
            sess.call("calc:square", 23).then(function(res) {
               sess.call("calc:sqrt", res).then(ab.log);
            });
         </pre>
      </div>
      <p>
         Here a second RPC is made once the result of the first one is received, and this first result is passed as an argument. The result of this second RPC is then logged.<br>
         This is actually somewhat easier than the reverse chaining of functions that conventional JavaScript would demand, where the last executed function is the outermost, with all previous ones nested successively backwards inside.
      </p>


      <a class="awh_up_developers" href="#top">Up</a>
         <br/>


      <h2>The Console Output</h2>

      <p>
         We'll now take a look at the console output, and cover the remaining RPCs that are sent in our web app in the process.
      </p>
      <p>
         If you haven't done so already, download the <a href="https://raw.github.com/tavendo/AutobahnPython/master/examples/rpc/simple/client.html">web app demo code</a> and open it in your browser.<br>
         Hit 'F12' to open the console.
      </p>
      <p>
        You should now see a 'Connected!' as the first output in the console.
      </p>
      <p>
         Press the 'Run' button in the browser window, and you should get the following output in the console:
      </p>
      <p>
         <span class="ident_tut">529</span><br>
         <span class="ident_tut">30</span><br>
         <span class="ident_tut">15</span><br>
         <span class="ident_tut">http://autobahn.tavendo.de/error#generic</span><br>
         <span class="ident_tut">http://example.com/error#number_too_big</span><br>
         <span class="ident_tut">25</span><br>
         <span class="ident_tut">23</span><br>
         <span class="ident_tut">10</span><br>
      </p>

      <p>
         The first three lines of the output are expected: 529 is 23 squared, 30 is 23 + 7, and 15 is the sum of 1, 2, 3, 4 & 5.
      </p>
      <p>
         The result for the fourth RPC, or rather, the chaining of two RPCs that started with the fourth RPC, does not appear until later. The '23' only appears at the second-to-last position. The chaining of these two RPCs led to an increased run time, so that the results of other, subsequently initiated RPCs, are received and logged first.</p>
      <p>
         Next come the error results for the fifth (line 2) and and sixth call (lin3 5):
      </p>

      <div class="codeex">
         <pre id="code" class="brush: javascript; highlight: [2, 5]; toolbar: false; auto-links: false;">
            // call a function, log on success, handle error
            sess.call("calc:sqrt", -1).then(ab.log, ab.log);

            // we can throw (see server) and receive a custom error
            sess.call("calc:square", 1001).then(ab.log, ab.log);
         </pre>
      </div>

      <p>
         The first is a generic error message, the second specific to the particular class of error. Both are expressed as URIs (and can be shortened if a prefix for them is the server).
      </p>
      <p>
         And last in the 'run' function we sent two RPCs that differed mainly in one respect:
      </p>

      <div class="codeex">
         <pre id="code" class="brush: javascript; highlight: [4, 5]; toolbar: false; auto-links: false;">
            // call a function that takes a long time, call another function
            // the result of the latter is received first, in other words,
            // RPC is really asynchronous
            sess.call("calc:asum", [1, 2, 3, 4]).then(ab.log);
            sess.call("calc:sum", [5, 6, 7, 8]).then(ab.log);
         </pre>
      </div>
      <p>
         Both are calls to functions that return the sum of the numbers received in an array.
      </p>
      <p>
         The first function, 'asum'  (line 4) has a hardcoded delay of 3 seconds before the return, while the second one  (line 5) sends the result as soon as it has computed it (i.e. almost instantly).
      </p>
      <p>
         Consequently, we see the result for the second call, '25', returned before that of the first one - and after the result for the fourth, chained RPC (even with network delays, in a local network 3 seconds is beyond eternity, so the chaining is much faster).
      </p>
      <a class="awh_up_developers" href="#top">Up</a>
         <br/>

      <h2>Summary & Beyond</h2>
      <p>This gave an overview how simple RPCs are with {{ autobahnjs() }} - no more than a line of code each</p>
      <p>
         If you're interested, the <a href="{{ url_for('page_js_tutorials_pubsub')}}">PubSub Tutorial</a> shows you an equally quick and easy start into publish & subscribe with {{ autobahnjs() }}. Or go to the <a href="{{ url_for('page_python_tutorials')}}">Python tutorials</a> to start exploring how the WAMP demo server works - and to implement some procedures there that fit your needs better than our simple math functions.
      </p>


      <a class="awh_up_developers" href="#top">Up</a>
         <br/>
         <br>
         <br>


   </div> <!-- pagewrapper -->

{% endblock %}
