{% extends "layout_tpnd.html" %}

{% block subsubheader %}
   <meta name="description" content="AutobahnJS API Reference.">

<!--   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tpsd_getstarted.css') }}">
-->
{% endblock%}


{% block pagecontent %}

{% macro docmethod_toc(classname, methodname) -%}
   <li><a href="#{{classname}}_{{methodname}}">{{classname}}.<span style="font-weight: 600;">{{methodname}}</span></a></li>
{%- endmacro %}


<div class="pagewrapper">

   <h1>{{ autobahnjs() }} Reference</h1>

   <p>
      A complete reference of the {{ autobahnjs() }} API can be found in the <a href="https://github.com/tavendo/AutobahnJS#api">project GitHub repository</a>
   </p>

</div>

{% endblock %}
