p {
   margin-left: 18px;
   margin-right: 18px;
}

.hint {
   margin-left: 30px;
   padding-left: 30px;
   padding-right: 80px;
   font-size: 12px;
   color: #999;
   background-image: url(../img/lightbulb.png);
   background-repeat: no-repeat;
   background-position: left top;
   min-height: 30px;
}

.warning {
   margin-left: 30px;
   padding-left: 30px;
   padding-right: 80px;
   font-size: 12px;
   color: #999;
   background-image: url(../img/warning.png);
   background-repeat: no-repeat;
   background-position: left top;
   min-height: 30px;
}

div .codeex {
   font-size: 14px;
   padding: 16px 0px 16px 0px;
}

.syntaxhighlighter {
   padding-left: 0px;
   padding-right: 0px;
}
