.testsuite_overview {
   clear: both;
   width: 90%;
   margin: auto;
}

.testsuite_overview_report_links {
   margin-bottom: 26px;
   margin-top: 18px;
}

.testsuite_overview_report_links a {
   margin-left: 30px;
}

.testsuite_overview_report_links a:first-of-type {
   margin-left: 0;
}

.testsuite_users_table_wrapper {
   width: 100%;
}

.testsuite_users_table {
   margin: 0 auto;
   width: 820px;
}

.testsuite_users_table > ul {
   float: left;
   margin-left: 12px;
   width: 240px;
}

.testsuite_users_table a {
   text-decoration: none;
}
