{% extends "layout_tpn.html" %}

{% block subheader %}
   <meta name="description" content="How to install AutobahnTestsuite.">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tpsd_getstarted.css') }}">
{% endblock%}

{% block pagecontent %}

   <div id="pagewrapper">

      <h1>Installation Guide</h1>

      <p>
         This is a short guide how to install {{autobahntestsuite()}} on your system.
         For usage, please see the <a href="{{ url_for('page_testsuite_manual') }}">User Manual</a>.
      </p>

      <h2>Prerequisites</h2>

      <p>
         {{ autobahntestsuite() }} is implemented in <a href="http://python.org">Python</a> and <a href="http://twistedmatrix.com">Twisted</a>.
         You need the following software installed:
      </p>

      <ul>
         <li><a href="http://python.org">Python</a></li>
         <li><a href="http://pypi.python.org/pypi/setuptools">Python Setuptools</a></li>
         <li><a href="http://twistedmatrix.com">Twisted</a></li>
      </ul>

      <p>
         The projects above provide easy to use installers or packages.
      </p>

      <p class="hint">
         Recommended is using the latest Python 2.7 release. Python 2.6 will also work, but not Python 3 (currently).
      </p>
      <p class="hint">
         Unless you know what you need / are doing, a 32-Bit Python is recommended.
      </p>


      <h2>Installation</h2>

      <p>
         {{ autobahntestsuite() }} is <a href="http://pypi.python.org/pypi/autobahntestsuite" target="_blank">available</a> on the Python package index.
      </p>
      <p>
         To install, open a command shell and do:
      </p>

      {{ beginshell() }}
easy_install autobahntestsuite
      {{ endshell() }}

      <p>
         Optionally, if you want to use secure WebSocket (WSS), you will need to have <a href="https://launchpad.net/pyopenssl">pyOpenSSL</a> installed:
      </p>

      {{ beginshell() }}
easy_install pyopenssl
      {{ endshell() }}


      <h2>Testing</h2>

      <p>
         To test your installation, open a command shell and do:
      </p>

      {{ beginshell() }}
wstest --help
      {{ endshell() }}

      <p>
         {{inlineshell('wstest')}} is the {{autobahntestsuite()}} executable and installed in a system-wide
         location, i.e. on Windows under
      </p>

      {{ beginshell() }}
C:\Python27\Scripts\wstest.exe
      {{ endshell() }}

      <p class="hint">
         If {{inlineshell('wstest')}} cannot be found on your command line, make sure you have
         the Python Scripts path on your PATH.
      </p>

   </div> <!-- pagewrapper -->

{% endblock %}
