{% extends "layout_tpnd.html" %}

{% block subsubheader %}
   <meta name="description" content="Instructions for using the Autobahn.oss WebSockets test suite">
<!--   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tp_testsuite.css') }}"> -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tpsd_getstarted.css') }}">
{% endblock%}

{% block pagecontent %}

   <div id="pagewrapper">

      <h1>User Manual</h1>

      <p>
         This document provides information on {{autobahntestsuite()}} usage.
         For installation instructions, please see the <a href="{{ url_for('page_testsuite_installation') }}">Installation Guide</a>.
      </p>


      <h2>Introduction</h2>

      <p>
         The test suite is packaged up and installed as a command line tool {{inlineshell('wstest')}}.
      </p>

      <p>
         To get help and a list of options, open a command shell:
      </p>

      {{ beginshell() }}
wstest --help
      {{ endshell() }}

      <p>
         {{inlineshell('wstest')}} has different modes in which it can run:
      </p>

      <ul style="margin-left: 80px;">
         <li><a href="#echo">echoserver</a></li>
         <li><a href="#echo">echoclient</a></li>
         <li><a href="#broadcast">broadcastclient</a></li>
         <li><a href="#broadcast">broadcastserver</a></li>
         <li><a href="#fuzzing">fuzzingserver</a></li>
         <li><a href="#fuzzing">fuzzingclient</a></li>
         <li><a href="#testee">testeeserver</a></li>
         <li><a href="#testee">testeeclient</a></li>
         <li><a href="#wsperfcontrol">wsperfcontrol</a></li>
         <li><a href="#wsperfmaster">wsperfmaster</a></li>
         <li><a href="#wamp">wampserver</a></li>
         <li><a href="#wamp">wampclient</a></li>
      </ul>

      <p>
         For example, the WebSocket test suite is provided by the <a href="#fuzzing">Fuzzing Server / Client Modes</a>.
         The mode is selected by the {{inlineshell('-m')}} command line option.
      </p>

      <p>
         Some modes need a test specification file which is used i.e. to select test options
         and which tests are run. Test specs are JSON text files that you can edit with any
         text editor and choose using the {{inlineshell('-s')}} command line option.
      </p>

      <p>
         A couple of modes also need a WebSocket URI to run. These URIs are parsed and
         control on which port a test server will start and whether to use secure
         WebSocket or not. You provide a WebSocket URI using the
         {{inlineshell('-w')}} command line option.
      </p>

      <p>
         Server and client modes do support TLS (that is WSS). For servers you will
         need to provide a server key and certificate file.
         A TLS server key and certificate can be provided using
         the {{inlineshell('-k')}} and {{inlineshell('-c')}}command line options respectively.
      </p>


      <a name="fuzzing"></a>
      <h2>Fuzzing Server / Client Modes</h2>

      <p>
         The automated WebSocket test suite comes under the modes: <b>fuzzingserver</b>
         and <b>fuzzingclient</b>.
      </p>

      <h3>Testing Clients</h3>

      <p>
         For example, to test browsers (or other WebSocket clients):
      </p>

      {{ beginshell() }}
wstest -m fuzzingserver
      {{ endshell() }}

      <p>
         This will run a fuzzing WebSocket server (by default) on port 9001 and
         an embedded web server (by default) on port 8080.
      </p>
      <p>
         Test your browser by opening {{inlineshell('http://localhost:8080')}} and follow the
         instructions there.
      </p>

      <p>
         To test the {{autobahnpython()}} client using the test suite, open
         a second command shell
      </p>
      {{ beginshell() }}
wstest -m testeeclient -w ws://localhost:9001
      {{ endshell() }}

      <p>Reports will be generated as a set of HTML files. To create reports for
      multiple testee's, DO NOT restart {{inlineshell('wstest')}} in between, since (currently),
      it will forget everything when stopped.</p>

      <h3>Test Specification</h3>

      <p>
         The fuzzing modes are configured using a spec file. If you don't provide
         one, {{inlineshell('wstest')}} will auto-generate one (and reuse that the
         next time).
      </p>

      <p>
         Test specs allow you to specify which test cases to run, by whitelist,
         exlude list, and exclude per testee. Test specs also allow to set
         a variety of options, globally and per testee.
      </p>
      <p>
         Test specs for <b>fuzzingclient</b> mode also specify the list of
         testee servers to run against.
      </p>

      <p>
         You can provide your own, modified spec file by doing
      </p>
      {{ beginshell() }}
wstest -m fuzzingserver -s &lt;your spec file&gt;
      {{ endshell() }}

      <p>
         You can find a number of examples for test specs
         <a href="https://github.com/tavendo/AutobahnTestSuite/tree/master/examples">here</a>.
      </p>



      <a name="testee"></a>
      <h2>Testee Server / Client Modes</h2>

      <p>
         These modes are for testing {{autobahnpython()}} against the {{autobahntestsuite()}}.
      </p>

      <p>
         For example, to test {{autobahnpython()}} server along other WebSocket servers, run the following
         in a first command shell
      </p>

      {{ beginshell() }}
wstest -m testeeserver ws://localhost:9001
      {{ endshell() }}

      <p>
         start your other WebSocket servers on other ports, and then run the test suite against all
         server by executing the following in a second command shell
      </p>

      {{ beginshell() }}
wstest -m fuzzingclient -s fuzzingclient.json
      {{ endshell() }}

      <p>
         where you have edited <em>fuzzingclient.json</em> for all servers under test, i.e.
      </p>

      <div class="codeex">
         <h1>fuzzingclient.json</h1>
         <pre class="brush: javascript; highlight: [10,11,12]; toolbar: false; auto-links: false; gutter: true;">
            {
               "options": {"failByDrop": false},
               "outdir": "./reports/servers",

               "servers": [
                            {"agent": "AutobahnPython",
                             "url": "ws://localhost:9001",
                             "options": {"version": 18}},

                            {"agent": "MyAwesomeServer",
                             "url": "ws://localhost:9002",
                             "options": {"version": 18}}
                          ],

               "cases": ["*"],
               "exclude-cases": [],
               "exclude-agent-cases": {}
            }
         </pre>
      </div>

      <p>
         Likewise, the <b>testeeclient</b> can be tested using a 2nd instance of {{inlineshell('wstest')}}
         running in <b>fuzzingserver</b> mode.
      </p>


      <a name="echo"></a>
      <h2>Echo Server / Client Modes</h2>

      <p>
         Provides a WebSocket echo server and client that will just send back any
         text or binary message it receives from it's connected peer.
      </p>

      {{ beginshell() }}
wstest -m echoserver -w ws://localhost:9000
      {{ endshell() }}


      <a name="broadcast"></a>
      <h2>Broadcast Server / Client Modes</h2>

      <p>
         The <b>broadcastserver</b> mode will run a WebSocket server that will broadcast
         any text or binary message it receives to all currently connected clients.
      </p>

      <p>
         The <b>broadcastclient</b> mode is intended as a test peer for the <b>broadcastserver</b>.
         It will dump any message it receives to console, and send a message every
         two seconds.
      </p>


      <a name="wsperfcontrol"></a>
      <h2>wsperf Control Mode</h2>

      <p><i>Under development.</i></p>

      <p>
         The <b>wsperfcontrol</b> mode is used to control {{wsperf()}} (running in master mode).
         {{wsperf()}} is a WebSocket performance probe developed as part of {{websocketpp()}}.
      </p>


      <a name="wsperfmaster"></a>
      <h2>wsperf Master Mode</h2>

      <p><i>Under development.</i></p>

      <p>
         This mode is used to control distributed sets of {{wsperf()}} (running in slave mode).
         {{wsperf()}} is a WebSocket performance probe developed as part of {{websocketpp()}}.
      </p>


      <a name="wamp"></a>
      <h2>WAMP Client / Server Modes</h2>

      <p><i>Under development.</i></p>

      <p>
         Will provide a demo/test {{wamp()}} client and server to aid in
         developing {{wamp()}} conforming implementations.
      </p>

   </div>

{% endblock %}
