{% extends "layout_tpn.html" %}

{% block subheader %}
   <meta name="description" content="Overview of AutobahnTestsuite, the WebSocket protocol implementation test suite.">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tp_testsuite.css') }}">
{% endblock%}


{% block pagecontent %}

   <div class="testsuite_overview">
      <p style="font-size: 18px;">
         {{ autobahntestsuite() }} provides a fully automated test suite to
         verify client and server implementations of
         <a href="http://tools.ietf.org/html/rfc6455" target="_blank">The WebSocket Protocol</a>
         for specification conformance and implementation robustness.

         <span style="float: right; margin-right: 2em; margin-top: 1em;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://autobahn.ws/testsuite" data-text="AutobahnTestsuite: a WebSocket testsuite with >300 automated test cases." data-count="none" data-hashtags="websocket,testing,fuzzing">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         </span>
      </p>
      <br>

      <p>
         For installation, please see <a href="{{ url_for('page_testsuite_installation') }}">here</a>.
         For usage, please see the <a href="{{ url_for('page_testsuite_manual') }}">User Manual</a>.
      </p>
      <br>

      <p style="width: 80%; margin: auto; background-color: #ddd; padding: 16px;">
         <b>New:</b> There is a new <a href="http://normanmaurer.github.io/autobahntestsuite-maven-plugin/">Maven Plugin</a>
         that integrates {{ autobahntestsuite() }} into <a href="http://maven.apache.org/">Maven</a> based builds for
         fully automated testing in Java/WebSocket/Maven projects. Created by Norman Maurer (RedHat) - thanks!
      </p>

   </div>

   <div class="testsuite_overview">

      <h2>Reports</h2>
      <p>Check out the latest test reports:</p>
      <center class="testsuite_overview_report_links">
         <a href="/testsuite/reports/clients/index.html">Browsers &amp; Clients</a>
         <a href="/testsuite/reports/mobileclients/index.html">Mobile</a>
         <a href="/testsuite/reports/servers/index.html">Servers</a>
      </center>

      <p id="reports_20131013">Here is a set of newer reports (including WebSocket compression), but fewer testees:</p>
      <center class="testsuite_overview_report_links">
         <a href="/testsuite/reports_20131013/clients/index.html">Browsers &amp; Clients (2013/10)</a>
         <a href="/testsuite/reports_20131013/servers/index.html">Servers (2013/10)</a>
         <a href="/testsuite/reports_20140314/clients/index.html">Browsers &amp; Clients (2014/03)</a>
      </center>
      <p>
         Details on the test setup used with creating above reports can be found <a href="https://github.com/tavendo/AutobahnTestSuite/tree/master/examples/publicreports">here</a>.
      </p>

      <a name="users"></a>
      <h2>Users</h2>

      <p>
         {{ autobahntestsuite() }} is used by numerous projects and companies across the industry:
      </p>
      <div class="testsuite_users_table_wrapper">
         <div class="testsuite_users_table">
            <ul>
               <li><a href="/">Autobahn</a></li>
               <li><a href="http://www.mozilla.org/" target="_blank">Mozilla Firefox</a></li>
               <li><a href="http://www.chromium.org/Home" target="_blank">Google Chrome / WebKit</a></li>
               <li><a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home" target="_blank">Microsoft Internet Explorer</a></li>
               <li><a href="http://www.rim.com/" target="_blank">RIM / Browser</a></li>
               <li><a href="http://www.zaphoyd.com/websocketpp" target="_blank">WebSocket++</a></li>
               <li><a href="http://www.serverframework.com" target="_blank">The Server Framework</a></li>
               <li><a href="http://eclipse.org/jetty/" target="_blank">Jetty</a></li>
               <li><a href="http://netty.io/" target="_blank">Netty</a></li>
               <li><a href="http://grizzly.java.net/" target="_blank">Grizzly</a></li>
               <li><a href="https://github.com/kerryjiang/WebSocket4Net" target="_blank">WebSocket4Net</a></li>
               <li><a href="https://github.com/kerryjiang/SuperWebSocket" target="_blank">SuperWebSocket</a></li>
               <li><a href="https://github.com/webbit/webbit" target="_blank">Webbit</a></li>
               <li><a href="https://github.com/lipp/lua-websockets" target="_blank">lua-websockets</a></li>
            </ul>
            <ul>
               <li><a href="http://www.tavendo.de/" target="_blank">Tavendo WebMQ</a></li>
               <li><a href="http://tomcat.apache.org/" target="_blank">Apache Tomcat</a></li>
               <li><a href="https://github.com/Worlize/WebSocket-Node" target="_blank">WebSocket-Node</a></li>
               <li><a href="https://github.com/einaros/ws" target="_blank">WS for node.js</a></li>
               <li><a href="https://github.com/LearnBoost/websocket.io" target="_blank">websocket.io</a></li>
               <li><a href="https://github.com/Lawouach/WebSocket-for-Python" target="_blank">ws4py</a></li>
               <li><a href="https://github.com/facebook/tornado" target="_blank">Facebook Tornado</a></li>
               <li><a href="http://code.google.com/p/pywebsocket/" target="_blank">pywebsocket</a></li>
               <li><a href="http://www.noemax.com/" target="_blank">Noemax PowerWebSockets</a></li>
               <li><a href="http://www.noemax.com/" target="_blank">Noemax WCF-Xtensions</a></li>
               <li><a href="https://github.com/TooTallNate/Java-WebSocket" target="_blank">Java-WebSocket</a></li>
               <li><a href="http://jwebsocket.org/" target="_blank">jWebSocket</a></li>
               <li><a href="https://github.com/aaugustin/websockets" target="_blank">websockets</a></li>
               <li><a href="https://github.com/DamnedFacts/RSWebSocket" target="_blank">RSWebSocket</a></li>
            </ul>
            <ul>
               <li><a href="http://cloudsecurity.intel.com/api-management" target="_blank">Intel API Management</a></li>
               <li><a href="http://pusher.com/" target="_blank">Pusher / EM-WebSocket</a></li>
               <li><a href="https://github.com/square/SocketRocket" target="_blank">SocketRocket</a></li>
               <li><a href="https://github.com/DamnedFacts/RSWebSocket" target="_blank">RSWebSocket</a></li>
               <li><a href="http://faye.jcoglan.com/" target="_blank">Faye</a></li>
               <li><a href="https://bitbucket.org/Jeffrey/gevent-websocket/overview" target="_blank">gevent-websocket</a></li>
               <li><a href="https://github.com/extend/cowboy" target="_blank">Cowboy</a></li>
               <li><a href="http://caucho.com/resin-4.0/index.xtp" target="_blank">Resin</a></li>
               <li><a href="http://yaws.hyber.org/" target="_blank">Erlang Yaws</a></li>
               <li><a href="http://wasd.vsm.com.au/wasd/" target="_blank">WASD OpenVMS</a></li>
               <li><a href="http://gitorious.org/qtwebsocket" target="_blank">QtWebSocket</a></li>
               <li><a href="https://github.com/eventlet/eventlet" target="_blank">eventlet</a></li>
               <li><a href="http://code.google.com/p/zaproxy/" target="_blank">zaproxy</a></li>
               <li>... and more (can't keep up)</li>
            </ul>
         </div>
      </div>
      <div style="clear: both;"></div>

      <p>
         <a name="userquotes"></a>What users are saying:
      </p>
      <p style="width: 85%; margin: auto; font-size: 14px; padding: 12px; color: #000; background-color: #f4f4f4; margin-bottom: 12px;">
         "Autobahn was a huge help during the standardization and early development of WebSocket in <a href="www.mozilla.org/firefox">Firefox</a>.
         It helped find many nasty corner conditions in a clean and repeatable way. Interoperation testing like this really moves the Open Web forward."<br><br>
         Patrick McManus, <a href="http://www.mozilla.org/">Mozilla</a> <a href="http://www.mozilla.org/firefox">Firefox</a>
      </p>
      <p style="width: 85%; margin: auto; font-size: 14px; padding: 12px; color: #000; background-color: #f4f4f4; margin-bottom: 12px;">
         "The <a href="http://eclipse.org/jetty">Jetty project</a> has been active in the development of the websocket protocol and lack of a comprehensive test suite was an impediment to the standardisation of the protocol.  The Autobahn test suit has filled that void and been warmly embraced by our websocket engineers at <a href="http://www.intalio.com/products/jetty/overview/">Intalio</a> as it has been invaluable for evaluating the protocol development, improving inter operability and monitoring adoption of new/optional features. <br><i>Our own implementation and the wider websocket 'ecosystem' are significantly better due to the availability of Autobahn.</i>"<br><br>
         Greg Wilkins, <a href="http://eclipse.org/jetty">Jetty</a> author, Chief Architect at <a href="http://www.intalio.com">Intalio</a>
      </p>
      <p style="width: 85%; margin: auto; font-size: 14px; padding: 12px; color: #000; background-color: #f4f4f4; margin-bottom: 12px;">
         "During the time of implementing the latest WebSocket version in <a href="http://netty.io/">Netty</a> and <a href="https://github.com/undertow-io/undertow">Undertow</a> we were searching for a way to test our implementations and make sure they are 100% RFC compliant. While we already had unit tests in place there was a lack of good tests for the whole implementation. Using the AutobahnTestsuite for this purpose allowed us to concentrate on the implementation and made it easy to catch regressions as soon as possible."<br><br>
         Norman Maurer, Principal Software Engineer at <a href="http://www.redhat.com/">Red Hat</a>
      </p>

      <h2>Coverage</h2>
      <p>
         The {{ autobahntestsuite() }} employs a software testing technique known as
         <a href="http://en.wikipedia.org/wiki/Fuzzing" target="_blank">fuzzing</a>,
         runs fully automated and includes an extensive set of over <i>500 test cases</i>
         covering
      </p>

      <ul style="margin-left: 80px;">
         <li>Framing</li>
         <li>Pings/Pongs</li>
         <li>Reserved Bits</li>
         <li>Opcodes</li>
         <li>Fragmentation</li>
         <li>UTF-8 Handling</li>
         <li>Limits/Performance</li>
         <li>Closing Handshake</li>
         <li>Opening Handshake <i>(under development)</i></li>
         <li>WebSocket compression (<a href="https://tools.ietf.org/html/draft-ietf-hybi-permessage-compression">permessage-deflate extension</a></li>
      </ul>


      <h2>Other Features</h2>

      <p>
         Besides WebSocket implementation testing,
         {{ autobahntestsuite() }} also provides a number of <i>other modes</i> that aid
         WebSocket and WAMP developers:
      </p>

      <ul style="margin-left: 80px;">
         <li>WebSocket Echo Server &amp; Client</li>
         <li>WebSocket Broadcast Server &amp; Client</li>
         <li>Testee Server &amp; Client for {{autobahnpython()}}</li>
         <li>{{wsperf()}} Controller &amp; Master</li>
         <li>{{wamp()}} Test Server &amp; Client</li>
      </ul>

      <p>
         Please see the <a href="{{ url_for('page_testsuite_manual') }}">User Manual</a> for further information.
      </p>

   </div>

{% endblock %}
