{% extends "layout_tpn.html" %}

{% block subheader %}
   <meta name="description" content="AutobahnPython programming tutorials.">
{% endblock%}


{% block pagecontent %}

<div class="pagewrapper">

   <h1>{{ autobahnpython() }} Tutorials &amp; Examples</h1>

   <p>
      Tutorials and examples are here to show case specific areas of {{ autobahnpython() }}.
      They include self-contained, fully working code, but may not cover all features available.
      For the latter, please consult the <a href="https://autobahnpython.readthedocs.org/" target="_blank">API reference</a>.
   </p>

   <ol>
      <li>
         WebSocket Programming
         <ul>
            <li><b><a href="{{ url_for('page_python_tutorials_echo') }}">Hello world: WebSocket Echo</a></b></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/websocket/broadcast">Broadcasting over WebSocket</a></li>
            <li><a href="{{ url_for('page_python_tutorials_streaming') }}">Using the Frame-based and Streaming APIs</a></li>
            <li><a href="{{ url_for('page_python_tutorials_producerconsumer') }}">Flow control with the Producer-Consumer Pattern</a></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/websocket/echo_tls">Using TLS: secure WebSocket</a></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/websocket/echo_site">Using {{ autobahnpython() }} with Twisted Web</a></li>
         </ul>
      </li>
      <li>
         WAMP Programming
         <ul>
            <li><b><a href="{{ url_for('page_python_tutorials_rpc') }}">Remote Procedure Calls with {{ autobahnpython() }}</a></b></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/rpc/keyvalue">Key-Value Store Service</a></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/rpc/calculator">Decimal Calculator Service</a></li>
            <li><b><a href="{{ url_for('page_python_tutorials_pubsub') }}">Publish &amp; Subscribe with {{ autobahnpython() }}</a></b></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/pubsub/custom">Writing Custom PubSub Handlers</a></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/authentication">WAMP Session Authentication</a></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/serial2ws">Two-way Arduino-WAMP Bridge</a></li>
            <li><a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/dbus">DBus Bridge: Trigger Desktop Notifications from WAMP</a></li>
         </ul>
      </li>
   </ol>

</div>

{% endblock %}
