{% extends "layout_tpnd.html" %}

{% block subsubheader %}
   <meta name="description" content="Tutorial: Publish &amp; Subscribe with AutobahnPython.">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tpsd_getstarted.css') }}">
{% endblock %}

{% block pagecontent %}

   <div class="pagewrapper">

      <h1>Publish &amp; Subscribe with {{ autobahnpython() }}</h1>

      <p>
         This tutorial introduces Publish &amp; Subscribe (PubSub) programming with {{ autobahnpython() }}.
         PubSub is a feature of {{ autobahnpython() }} based on {{wamp()}}.
      </p>

      <p>
         We will create a Python server that mediates publications to topics and dispatches events to subscribed
         clients. For the client side, we implement clients in
      </p>

      <ul>
         <li>JavaScript which runs in browsers
         <li>Python which runs on command line
      </ul>

      <p>
         You can find all the code for this tutorial in the source repository
         <a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/pubsub/simple">here</a>.
      </p>

      <p class="hint">
         The code in the source repository is slightly extended to make it more convenient and robust.
      </p>


      <h2>Prerequisites</h2>
      <p>
         For this tutorial you will need
      </p>

      <ul>
         <li>{{ autobahnpython() }} installed</li>
         <li>a WebSocket capable browser</li>
      </ul>

      <p>
         A guide how to setup {{ autobahnpython() }} can be found in the <a href="{{ url_for('page_python_getstarted') }}">getting started</a>.
         For the browser, you can use any recent version of Chrome or Firefox i.e.
      </p>


      <h2>Introduction</h2>

      <p>
         Publish &amp; Subscribe is a communication pattern where senders and receivers
         of information are decoupled from each other via abstract "channels" or "topics".
      </p>

      <p>
         Senders, called publishers in this context, and connected to a message broker
         publish events to topics.
         A message broker is a server responsible for dispatching the received event
         for some topic to all subscribers on that topic.
      </p>

      <p>
         Receivers hence needs to register their interest in some information by
         subscribing to a topic.
      </p>

      <p>
         In other words, topics act like channels on which publishers send events,
         and subscribers receive those published events. Publishers and subscribers
         are decoupled: they don't know about each other, and sending and receiving
         is asynchronous.
      </p>

      <p>
         Topics are identified using URIs, like i.e. {{inlinecode('http://example.com/simple')}}.
         Despite those URIs starting with {{inlinecode('http')}}, these are never dereferenced,
         but their only purpose is for identification of topics.
      </p>


      <h2>Registering topics for PubSub</h2>

      <p>
         For topics to be usable as communication channels, they need to be
         "registered for PubSub". Doing so will allow clients to publish
         and subscribe to the respective topics.
      </p>

      <p>
         There are multiple ways to register a topic for PubSub, and you most
         often register topics in {{inlinecode('onSessionOpen')}} when the
         WAMP session has been established:

         <ul>
            <li>{{inlinecode('registerForPubSub')}}</li>
            <li>{{inlinecode('registerHandlerForPubSub')}}</li>
            <li>{{inlinecode('registerHandlerForSub')}}</li>
            <li>{{inlinecode('registerHandlerForPub')}}</li>
         </ul>
      </p>
      <br>

      <h3>Registering topics for automatic PubSub</h3>

      <p>
         For automatic PubSub brokering of a topic, register the topic using
         {{inlinecode('registerForPubSub')}}:
      </p>

      <div class="codeex">
         <h1>Register topics for automatic PubSub</h1>
         <pre class="brush: python; highlight: [6,9]; toolbar: false; auto-links: false; gutter: true;">
            class PubSubServer1(WampServerProtocol):

               def onSessionOpen(self):

                  ## register a single, fixed URI as PubSub topic
                  self.registerForPubSub("http://example.com/simple")

                  ## register a URI and all URIs having the string as prefix as PubSub topic
                  self.registerForPubSub("http://example.com/event#", True)
         </pre>
      </div>
      <br>

      <h3>Custom PubSub Handlers</h3>
      <p>
         Sometimes automatic PubSub brokering is not flexible enough and you want
         to have more control over brokering. In these cases you can register
         custom handlers to process publications and subscriptions.
      </p>
      <p>
         For further information, please see the reference documentation.
      </p>
      <br>


      <h2>A simple PubSub Example</h2>

      <p>
         To show how things work together, we now create a simple PubSub server which
         acts as a message broker, and a JavaScript client running in browsers that
         do publish and subscribe via our server.
      </p>


      <h3>AutobahnPython Server</h3>

      <p>
         The following is a complete WAMP server which provides PubSub over one
         specific topic, and a set of topics sharing an URI prefix.
      </p>

      <p>
         The server also contains some boilerplate code which sets up logging (to stdout)
         and provides an embedded Web server to serve a HTML/JS client testing our server.
      </p>

      <p>
         WAMP servers need to derive from the base classes {{inlinecode('WampServerProtocol')}}
         and {{inlinecode('WampServerFactory')}}:
      </p>

      <div class="codeex">
         <h1>Simple PubSub Server</h1>
         <pre class="brush: python; highlight: [18, 21]; toolbar: false; auto-links: false; gutter: true;">
import sys

from twisted.python import log
from twisted.internet import reactor
from twisted.web.server import Site
from twisted.web.static import File

from autobahn.websocket import listenWS
from autobahn.wamp import WampServerFactory, \
                          WampServerProtocol


class PubSubServer1(WampServerProtocol):

   def onSessionOpen(self):

      ## register a single, fixed URI as PubSub topic
      self.registerForPubSub("http://example.com/simple")

      ## register a URI and all URIs having the string as prefix as PubSub topic
      self.registerForPubSub("http://example.com/event#", True)


if __name__ == '__main__':

   log.startLogging(sys.stdout)
   debug = len(sys.argv) > 1 and sys.argv[1] == 'debug'

   factory = WampServerFactory("ws://localhost:9000", debugWamp = debug)
   factory.protocol = PubSubServer1
   factory.setProtocolOptions(allowHixie76 = True)
   listenWS(factory)

   webdir = File(".")
   web = Site(webdir)
   reactor.listenTCP(8080, web)

   reactor.run()
         </pre>
      </div>


      <p>
         When the WAMP session has been established (line 15), we register (line 18) the URI {{inlinecode('http://example.com/simple')}}
         as a topic. The registered topic acts as a publish/subscribe channel for the WebSockets
         connection on which it was registered.
      </p>

      <p>
         A client can then subscribe and publish to topics registered in his session.
      </p>

      <p>
         The difference with the topic registration in line 21 is that we register not only
         the specific URI {{inlinecode('http://example.com/event#')}}, but implicitly register
         any topic which has the string as a prefix, i.e.
         {{inlinecode('http://example.com/event#myevent1')}} or
         {{inlinecode('http://example.com/event#myevent2')}}.
      </p>

      <p>
         Since we register topics per client session, and do the registration in {{inlinecode('onSessionOpen')}}, we
         could also make the registrations client specific.
      </p>
      <br>


      <h3>AutobahnJS Client</h3>

      <p>
         To create a JavaScript client which uses our server, we need some HTML.
         In the HTML, we merely link to the {{autobahnjs()}} client library:
      </p>

      <div class="codeex">
         <script type="syntaxhighlighter" class="brush: xml; highlight: [4]; toolbar: false; auto-links: false;"><![CDATA[
<!DOCTYPE html>
<html>
   <head>
      <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js">
      &lt;/script>
      <script>
         <!-- code see below -->
      &lt;/script>
   </head>
   <body>
      <h1>PubSub with AutobahnJS - Example 1</h1>
      <noscript>
         <span style="color: #f00; font-weight: bold;">
            You need to turn on JavaScript.
         </span>
      </noscript>
      <button onclick="publishEvent()">Publish</button>
      <p>
         Open development console (press F12) to watch.
      </p>
   </body>
 </html>
         ]]></script>
      </div>

      <p>
         The actual JavaScript client code fires upon the window being loaded:
      </p>


      <div class="codeex">
         <pre class="brush: javascript; highlight: [4, 14, 22, 40, 43, 49]; toolbar: false; auto-links: false;">
         // WAMP session object
         var sess = null;

         window.onload = function() {

            var wsuri;
            if (window.location.protocol === "file:") {
               wsuri = "ws://localhost:9000";
            } else {
               wsuri = "ws://" + window.location.hostname + ":9000";
            }

            // connect to WAMP server
            ab.connect(wsuri,

               // WAMP session was established
               function (session) {

                  sess = session;

                  console.log("Connected to " + wsuri);
                  test();
               },

               // WAMP session is gone
               function (code, reason) {

                  sess = null;

                  if (code == ab.CONNECTION_UNSUPPORTED) {
                     window.location = "http://autobahn.ws/unsupportedbrowser";
                  } else {
                     console.log(reason);
                  }
               }
            );
         };

         function test() {
             sess.subscribe("http://example.com/simple", onEvent);
         }

         function onEvent(topicUri, event) {
            console.log(topicUri);
            console.log(event);
         }

         function publishEvent() {
            sess.publish("http://example.com/simple", {'foo': 'bar', 'baz': 23});
         }
         </pre>
      </div>


      <p>
         After the WAMP session has been established (line 17), we subscribe (line 40)
         to a topic. Doing so, we need to provide the topic URI and an event handler we
         want to get fired when an event from that topic is received.
      </p>

      <p>
         A PubSub event handler is a function that takes 2 parameters, i.e. line 43: the
         topic URI the event was published on, and the event data originally published.
         We can use a different handler for different subscriptions, or we can use
         one for multiple subscriptions.
      </p>

      <p>
         To publish an event to a topic, i.e. line 49, we need to provide a topic URI
         and the event to be published. The event may be any JavaScript object (or null)
         which
         can be serialized to JSON.
      </p>

      <p>
         By default, when we publish an event to a topic, we won't receive the event ourselfes
         (when we are also subscribed to that same topic). You can override this behavior by
         additional, optional parameters to {{inlinecode('publish')}}. Please see
         the reference documentation for details.
      </p>
      <br>


      <h2>Creating a Python Client</h2>

      <p>
         Here is a PubSub client using the {{ autobahnpython() }} client library. I'll walk you
         through the code right after:
      </p>

      <div class="codeex">
         <h1>Simple PubSub Client</h1>
         <pre class="brush: python; highlight: [14, 15, 21, 17]; toolbar: false; auto-links: false; gutter: true;">
import sys

from twisted.python import log
from twisted.internet import reactor

from autobahn.websocket import connectWS
from autobahn.wamp import WampClientFactory, \
                          WampClientProtocol


class PubSubClient1(WampClientProtocol):

   def onSessionOpen(self):
      self.subscribe("http://example.com/simple", self.onSimpleEvent)
      self.sendSimpleEvent()

   def onSimpleEvent(self, topicUri, event):
      print "Event", topicUri, event

   def sendSimpleEvent(self):
      self.publish("http://example.com/simple", "Hello!")
      reactor.callLater(2, self.sendSimpleEvent)


if __name__ == '__main__':

   log.startLogging(sys.stdout)
   debug = len(sys.argv) > 1 and sys.argv[1] == 'debug'

   factory = WampClientFactory("ws://localhost:9000", debugWamp = debug)
   factory.protocol = PubSubClient1

   connectWS(factory)

   reactor.run()
         </pre>
      </div>

      <p>
         When the WAMP session has been established (line 13), we subscribe to the
         topic {{inlinecode('http://example.com/simple')}} and provide the event
         handler {{inlinecode('self.onSimpleEvent')}} we want to be fired (line 17).
      </p>

      <p>
         An event handler is any Python callable that takes 2 arguments, the
         topic URI and the event. You can use free standing Python functions or
         instance methods (like in this example).
      </p>

      <p>
         Starting from line 15, we publish an event (line 21) every 2 seconds (line 22).
      </p>
      <br/>

   </div>

{% endblock %} <!-- pagecontent -->
