{% extends "layout_tpnd.html" %}

{% block subsubheader %}
   <meta name="description" content="Tutorial: Remote Procedure Calls (RPC) with AutobahnPython.">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_tpsd_getstarted.css') }}">
{% endblock %}

{% block pagecontent %}

   <div class="pagewrapper">

      <h1>Remote Procedure Calls with {{ autobahnpython() }}</h1>

      <p>
         This tutorial introduces Remote Procedure Calls (RPC) programming with {{ autobahnpython() }}.
         RPC is a feature of {{ autobahnpython() }} based on {{wamp()}}.
      </p>

      <p>
         We will create Python servers that expose methods that can be called remotely from any WAMP client.
         For the client side, we implement clients in
      </p>

      <ul>
         <li>JavaScript which runs in browsers
         <li>Python which runs on command line
      </ul>

      <p>
         You can find all the code for this tutorial in the source repository
         <a href="https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/rpc/simple">here</a>.
      </p>

      <p class="hint">
         The code in the source repository is slightly extended to make it more convenient and robust.
      </p>


      <h2>Prerequisites</h2>
      <p>
         For this tutorial you will need
      </p>

      <ul>
         <li>{{ autobahnpython() }} installed</li>
         <li>a WebSocket capable browser</li>
      </ul>

      <p>
         A guide how to setup {{ autobahnpython() }} can be found in the <a href="{{ url_for('page_python_getstarted') }}">getting started</a>.
         For the browser, you can use any recent version of Chrome or Firefox i.e.
      </p>



      <h2>Introduction</h2>

      <p>
         With RPC, you expose procedures and methods on a server to be called remotely from
         clients.
      </p>

      <p>
         With WAMP, procedures and methods are always identified using URIs from the HTTP scheme,
         i.e. {{inlinecode('http://example.com/simple/calc#add')}}.
      </p>

      <p>
         In general, a client issues an RPC by providing the URI of the procedure/method plus any call arguments.
         The client will get back a <i>promise</i> (aka <i>future</i> or <i>deferred</i>). The client can add
         success and failure callbacks to that <i>promise</i> which will get fired asynchronously when the RPC
         is finished.
      </p>

      <p>
         Since WAMP is fully asynchronous, the client can continue work while an RPC is still in-progress,
         multiple RPC can be in flight at every time, and RPC results/failures can be received out-of-order.
      </p>

      <p>
         One aspect of the latter is that a long-running RPC will not block RPCs issued afterwards. Note that this
         is different from any Ajax/Comet techniques, where - due to the nature of HTTP - a result/failure for
         RPC 1 necessarily needs to be received before the result/failure of any RPC issued after RPC 1.
      </p>



      <h2>Registering procedures and methods for RPC</h2>

      <p>
         For procedure and methods to be callable from remote clients via RPCs,
         those procedures and methods need to be "registered for RPC".
         Doing so ("remoting a callable") will associate a procedure URI with
         the callable and make the callable into an RPC endpoint.
      </p>

      <p>
         There are multiple ways to remote a callable, and you most often register
         callables for RPC in {{inlinecode('onSessionOpen')}} when the WAMP session
         has been established.
      </p>
      <br>

      <h3>Remoting free standing procedures</h3>

      <p>
         To remote a free standing Python function, register the callable using
         {{inlinecode('registerProcedureForRpc')}}
      </p>

      <div class="codeex">
         <h1>Register free standing procedure for RPC</h1>
         <pre class="brush: python; highlight: [8]; toolbar: false; auto-links: false; gutter: true;">
            def add2(x, y):
               return x + y

            ...

            class MyServerProtocol(WampServerProtocol):
               def onSessionOpen(self):
                  self.registerProcedureForRpc("http://example.com/simple/calc#add", add2)
         </pre>
      </div>

      <p>
         {{inlinecode('registerProcedureForRpc')}} takes a (fully qualified) procedure URI
         and the callable as arguments.
      </p>
      <br>

      <h3>Remoting object methods</h3>

      <p>
         To remote a method of some object, remote it by registering using
         {{inlinecode('registerMethodForRpc')}}
      </p>

      <div class="codeex">
         <h1>Register object method for RPC</h1>
         <pre class="brush: python; highlight: [6]; toolbar: false; auto-links: false; gutter: true;">
            class MyServerProtocol(WampServerProtocol):
               def add2(x, y):
                  return x + y

               def onSessionOpen(self):
                  self.registerMethodForRpc("http://example.com/simple/calc#add",
                                            self,
                                            MyServerProtocol.add2)
         </pre>
      </div>

      <p>
         {{inlinecode('registerMethodForRpc')}} takes a (fully qualified) procedure URI,
         the object and the method to be remoted.
      </p>
      <br>

      <h3>Remoting object methods using decorators</h3>

      <p>
         Often, one will want to register a whole set of methods
         for RPC. To make this convenient, {{autobahnpython()}} has a <i>decorator</i>
         syntax
      </p>

      <div class="codeex">
         <h1>Auto-register object methods for RPC</h1>
         <pre class="brush: python; highlight: [2, 6, 11]; toolbar: false; auto-links: false; gutter: true;">
            class MyServerProtocol(WampServerProtocol):
               @exportRpc("add")
               def add2(x, y):
                  return x + y

               @exportRpc
               def sub2(x, y):
                  return x - y

               def onSessionOpen(self):
                  self.registerForRpc(self, "http://example.com/simple/calc#")
         </pre>
      </div>

      <p>
         {{inlinecode('registerForRpc')}} takes an object and a procedure URI prefix and will
         register any method decorated with {{inlinecode('@exportRpc')}} for RPC.
         The URI for the remoted methods will be constructed from the prefix plus a suffix,
         which is either the plain Python method name or the string explicitly given to
         {{inlinecode('@exportRpc')}}.
      </p>

      <p>
         In the above example, 2 methods will be registered for RPC:
      </p>

      <ul>
         <li>{{inlinecode('MyServerProtocol.add2')}} under {{inlinecode('http://example.com/simple/calc#add')}}, and</li>
         <li>{{inlinecode('MyServerProtocol.sub2')}} under {{inlinecode('http://example.com/simple/calc#sub2')}}</li>
      </ul>
      <br>


      <h3>Remoting with custom RPC handlers</h3>

      <p>
         There are situations when even the variants above are not flexible enough.
         {{autobahnpython()}} provides hooks to do fully custom RPC handling:
         {{inlinecode('registerHandlerMethodForRpc')}} and {{inlinecode('registerHandlerProcedureForRpc')}}.
      </p>

      <p>
         Here is a simple (but silly) example:
      </p>

      <div class="codeex">
         <h1>Register custom handler method for RPC</h1>
         <pre class="brush: python; highlight: [10, 15]; toolbar: false; auto-links: false; gutter: true;">
            class MyServerProtocol(WampServerProtocol):

               def onSessionOpen(self):

                  rpcs = ["http://example.com/rpc1",
                          "http://example.com/rpc2",
                          "http://example.com/rpc3"]

                  for uri in rpcs:
                     self.registerHandlerMethodForRpc(uri,
                                                      self,
                                                      MyServerProtocol.remoteCall,
                                                      extra = {'custom': 'data'})

               def remoteCall(self, uri, args, extra):
                  return extra['custom'] + uri[-1] + ''.join(args)
         </pre>
      </div>

      <p>
         This is an advanced approach that should only be used when needed.
         For further details, please see the reference documentation.
      </p>



      <h2>A simple RPC Example</h2>

      <p>
         To show how things work together, we now create a simple RPC server which
         remotes just one method, and a JavaScript client running in browsers that
         call that server method.
      </p>

      <h3>AutobahnPython Server</h3>

      <p>
         The following is a complete WAMP server which provides just one remoted method
         that can be called via RPC.
      </p>

      <p>
         The server also contains some boilerplate code which sets up logging (to stdout)
         and provides an embedded Web server to serve an HTML/JS client testing our server.
      </p>

      <p>
         WAMP servers need to derive from the base classes {{inlinecode('WampServerProtocol')}}
         and {{inlinecode('WampServerFactory')}}:
      </p>

      <div class="codeex">
         <h1>Simple RPC Server</h1>
         <pre class="brush: python; highlight: [22, 24, 25]; toolbar: false; auto-links: false; gutter: true;">
import sys

from twisted.python import log
from twisted.internet import reactor, defer
from twisted.web.server import Site
from twisted.web.static import File

from autobahn.websocket import listenWS
from autobahn.wamp import exportRpc, \
                          WampServerFactory, \
                          WampServerProtocol


class RpcServer1Protocol(WampServerProtocol):
   """
   A minimalistic RPC server.
   """

   def onSessionOpen(self):
      # When the WAMP session has been established, register any methods
      # remoted on this class for RPC
      self.registerForRpc(self, "http://example.com/simple/calc#")

   @exportRpc("add")
   def add(self, x, y):
      """
      A simple remoted method which can be called via RPC from any WAMP client.
      """
      return x + y


if __name__ == '__main__':

   if len(sys.argv) > 1 and sys.argv[1] == 'debug':
      log.startLogging(sys.stdout)
      debug = True
   else:
      debug = False

   factory = WampServerFactory("ws://localhost:9000", debugWamp = debug)
   factory.protocol = RpcServer1Protocol
   factory.setProtocolOptions(allowHixie76 = True)
   listenWS(factory)

   webdir = File(".")
   web = Site(webdir)
   reactor.listenTCP(8080, web)

   reactor.run()
         </pre>
      </div>

      <p>
         We create our server protocol by deriving {{inlinecode('RpcServer1Protocol')}}
         from {{inlinecode('WampServerProtocol')}} and register the methods to be remoted
         in {{inlinecode('onSessionOpen')}}.
      </p>

      <br>


      <h3>AutobahnJS Client</h3>

      <p>
         To create a JavaScript client which uses our server, we need some HTML.
         In the HTML, we merely link to the {{autobahnjs()}} client library:
      </p>

      <div class="codeex">
         <script type="syntaxhighlighter" class="brush: xml; highlight: [4]; toolbar: false; auto-links: false;"><![CDATA[
<!DOCTYPE html>
<html>
   <head>
      <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js">
      &lt;/script>
      <script>
         <!-- code see below -->
      &lt;/script>
   </head>
   <body>
      <h1>AutobahnJS RPC Client</h1>
      <noscript>
         <span style="color: #f00; font-weight: bold;">
            You need to turn on JavaScript.
         </span>
      </noscript>
      <p>
         Open development console (press F12) to watch.
      </p>
   </body>
 </html>
         ]]></script>
      </div>

      <p>
         The actual JavaScript client code fires upon the window being loaded:
      </p>


      <div class="codeex">
         <pre class="brush: javascript; highlight: [4, 14, 22, 41,42,43,44,45,46,47,48]; toolbar: false; auto-links: false;">
         // WAMP session object
         var sess = null;

         window.onload = function() {

            var wsuri;
            if (window.location.protocol === "file:") {
               wsuri = "ws://localhost:9000";
            } else {
               wsuri = "ws://" + window.location.hostname + ":9000";
            }

            // connect to WAMP server
            ab.connect(wsuri,

               // WAMP session was established
               function (session) {

                  sess = session;

                  console.log("Connected to " + wsuri);
                  test();
               },

               // WAMP session is gone
               function (code, reason) {

                  sess = null;

                  if (code == ab.CONNECTION_UNSUPPORTED) {
                     window.location = "http://autobahn.ws/unsupportedbrowser";
                  } else {
                     alert(reason);
                  }
               }
            );
         };

         function test() {
            // call a function with multiple arguments
            sess.call("http://example.com/simple/calc#add", 23, 7).then(
               function (res) {
                  console.log("RPC result: " + res);
               },
               function (error) {
                  console.log("RPC error: " + error.desc);
               }
            );
         };
         </pre>
      </div>

      <p>
         We call {{inlinecode('ab.connect()')}} to establish a WAMP session.
         {{inlinecode('ab')}} is the global {{autobahnjs()}} library object.
         We provide {{inlinecode('wsuri')}}, the URI of the WAMP server we want to connect to,
         and two callbacks which will get fired when the WAMP session has been established
         and lost respectively.
      </p>

      <p>
         When the WAMP session has been established, we issue an RPC (lines 41 - 48)
         by providing the URI {{inlinecode('"http://example.com/simple/calc#add"')}} of the RPC endpoint
         plus any arguments to the call.
      </p>

      <p>
         The call will return a <i>promise</i> (aka <i>deferred</i>) object to us.
         We then can use the returned <i>promise</i> to add asynchronous handlers for
         RPC success and failure handling using its {{inlinecode('then')}} method.
      </p>





      <h2>A slightly extended RPC example</h2>

      <p>
         We now create a slightly more involved RPC example including clients both in JavaScript
         and in Python.
      </p>

      <h3>AutobahnPython Server</h3>

      <div class="codeex">
         <h1>AutobahnPython RPC Server</h1>
         <pre class="brush: python; highlight: [11, 25, 26, 27, 57, 60, 61]; toolbar: false; auto-links: false; gutter: true;">
import sys, math

from twisted.python import log
from twisted.internet import defer, reactor

from autobahn.websocket import listenWS
from autobahn.wamp import exportRpc, \
                          WampServerFactory, \
                          WampServerProtocol


class Calc:

   @exportRpc
   def add(self, x, y):
      return x + y

   @exportRpc
   def sub(self, x, y):
      return x - y

   @exportRpc
   def square(self, x):
      MAX = 1000
      if x > MAX:
         raise Exception("http://example.com/error#number_too_big",
                         "%d too big for me, max is %d" % (x, MAX),
                         MAX)
      return x * x

   @exportRpc
   def sum(self, list):
      return reduce(lambda x, y: x + y, list)

   @exportRpc
   def pickySum(self, list):
      errs = []
      for i in list:
         if i % 3 == 0:
            errs.append(i)
      if len(errs) > 0:
         raise Exception("http://example.com/error#invalid_numbers",
                         "one or more numbers are multiples of 3",
                         errs)
      return reduce(lambda x, y: x + y, list)

   @exportRpc
   def sqrt(self, x):
      return math.sqrt(x)

   @exportRpc("asum")
   def asyncSum(self, list):
      d = defer.Deferred()
      reactor.callLater(3, d.callback, self.sum(list))
      return d


class SimpleServerProtocol(WampServerProtocol):

   def onSessionOpen(self):
      self.calc = Calc()
      self.registerForRpc(self.calc, "http://example.com/simple/calc#")


if __name__ == '__main__':

   if len(sys.argv) > 1 and sys.argv[1] == 'debug':
      log.startLogging(sys.stdout)
      debug = True
   else:
      debug = False

   factory = WampServerFactory("ws://localhost:9000", debugWamp = debug)
   factory.protocol = SimpleServerProtocol
   listenWS(factory)

   reactor.run()
         </pre>
      </div>

      <p>
         To create the server, we derive our Protocol from {{inlinecode('WampServerProtocol')}} (line 57).
         In the {{inlinecode('onSessionOpen')}} method, we then create an instance of a service object (line 60)
         and register that instance for RPC (line 61), providing the base URI under which our RPC'ed methods
         will get registered.
      </p>

      <p>
         Here, the service class (line 11) can be anything you like. No need to derive from any {{ autobahnpython() }} base class.
         The only thing we do is to decorate the methods we want to remote with the {{inlinecode('@exportRpc')}}
         decorator (i.e. line 13 and others). We do this so we can use the {{'registerForRpc'}} method which will just
         <i>automatically</i> register any method decorated with {{inlinecode('@exportRpc')}}.
         Of course, you don't have to create a separate service class (as we did here), but could use the protocol
         class itself to implement your RPCs like we did in the first example.
      </p>

      <p>
         Using {{inlinecode('@exportRpc')}} without arguments will export the method under the respective Python method name.
         If you want to export under a different name, that's also possible (line 50).
      </p>

      <p>
         An RPCed method can take zero, one or multiple positional arguments. The return value from an RPCed
         function can be a plain Python value (must be JSON serializable) or a Twisted Deferred (like in line 54).
      </p>

      <p>
         The RPCed method {{inlinecode('asyncSum')}} (lines 50 ff.) simulates a slow running procedure. It'll return
         its result only after 3s delay. That way, we can later see in the client how RPCs really work asynchronously,
         and how multiple RPCs can be outstanding, with their results received asynchronously and out-of-order.
      </p>

      <p>
         The example also shows how to raise custom exceptions (lines 25-27). A WAMP exception can take
         3 parameters: {{inlinecode('raise Exception(errorUri, errorDesc, errorDetails)')}}.
      </p>
      <ul>
         <li>{{inlinecode('errorUri')}} identifies the error with a URI</li>
         <li>{{inlinecode('errorDesc')}} should provide a human readable message intended for developers / logging</li>
         <li>{{inlinecode('errorDetails')}} can be used to forward custom, error specific error details (and can be of any type)</li>
      </ul>
      <p>
         When a plain exception is raised, {{inlinecode('errorUri')}} will get set to a generic error URI and
         {{inlinecode('errorDesc')}} will contain the exception's message string.
      </p>
      <br>


      <h3>AutobahnJS Client</h3>

      <p>
         For the JavaScript client, just replace the {{inlinecode('test')}} function in the HTML/JS code
         we already have with the following
      </p>

      <div class="codeex">
         <h1>AutobahnJS RPC Client</h1>
         <pre id="code" class="brush: javascript; highlight: [4, 29, 30]">
            function test()
            {
               // establish a prefix, so we can abbreviate procedure URIs ..
               session.prefix("calc", "http://example.com/simple/calc#");

               // call a function and log result on success
               sess.call("calc:square", 23).then(ab.log);

               // call a function with multiple arguments
               sess.call("calc:add", 23, 7).then(ab.log);

               // call a function with list of numbers as arg
               sess.call("calc:sum", [1, 2, 3, 4, 5]).then(ab.log);

               // call a function and call another function on success
               sess.call("calc:square", 23).then(function(res) {
                  sess.call("calc:sqrt", res).then(ab.log);
               });

               // call a function, log on success, handle error
               sess.call("calc:sqrt", -1).then(ab.log, ab.log);

               // we can throw (see server) and receive a custom error
               sess.call("calc:square", 1001).then(ab.log, ab.log);

               // call a function that takes a long time, call another function
               // the result of the latter is received first, in other words,
               // RPC is really asynchronous
               sess.call("calc:asum", [1, 2, 3]).then(ab.log);
               sess.call("calc:sum", [4, 5, 6]).then(ab.log);

               // we can throw (see server) and receive a custom error
               sess.call("calc:pickySum", [0,1,2,3,4,5]).then(ab.log, ab.log);
            }
         </pre>
      </div>

      <p>
         This time, before calling any remote methods, we register a URI <i>prefix</i>
         to be used in subsequent calls (line 4). This is to avoid retyping long URIs
         all the time, and also to further reduce the traffic on the wire.
      </p>

      <p>
         In the test function we then simply issue RPCs, and results will arrive
         and trigger callbacks asynchronously and potentially out-of-order. The
         latter can be seen when you closely inspect the order in which the results
         for the calls on line 29-30 arrive. Even though the RPC on {{inlinecode('calc:asum')}}
         was issued before {{inlinecode('calc:sum')}}, the results of {{inlinecode('calc:asum')}}
         arrive <i>after</i> those for {{inlinecode('calc:sum')}}.
      </p>
      <br>


      <h3>AutobahnPython Client</h3>

      <p>
         Here is the same client functionality, but implemented using
         the {{ autobahnpython() }} clients libs:
      </p>

      <div class="codeex">
         <h1>Simple RPC Server</h1>
         <pre id="code" class="brush: python; highlight: [9, 34, 36, 37, 59, 60]">
            import sys
            from twisted.python import log
            from twisted.internet import reactor
            from twisted.internet.defer import Deferred, DeferredList
            from autobahn.websocket import connectWS
            from autobahn.wamp import WampClientFactory, WampClientProtocol


            class SimpleClientProtocol(WampClientProtocol):
               """
               Demonstrates simple Remote Procedure Calls (RPC) with
               Autobahn WebSockets and Twisted Deferreds.
               """

               def show(self, result):
                  print "SUCCESS:", result

               def logerror(self, e):
                  erroruri, errodesc, errordetails = e.value.args
                  print "ERROR: %s ('%s') - %s" % (erroruri, errodesc, errordetails)

               def done(self, *args):
                  self.sendClose()
                  reactor.stop()

               def onSessionOpen(self):

                  self.prefix("calc", "http://example.com/simple/calc#")

                  d1 = self.call("calc:square", 23).addCallback(self.show)

                  d2 = self.call("calc:add", 23, 7).addCallback(self.show)

                  d3 = self.call("calc:sum", [1, 2, 3, 4, 5]).addCallback(self.show)

                  d4 = self.call("calc:square", 23).addCallback(lambda res: \
                                     self.call("calc:sqrt", res)).addCallback(self.show)

                  d5 = self.call("calc:sqrt", -1).addCallbacks(self.show,
                                                               self.logerror)

                  d6 = self.call("calc:square", 1001).addCallbacks(self.show,
                                                                   self.logerror)

                  d7 = self.call("calc:asum", [1, 2, 3]).addCallback(self.show)

                  d8 = self.call("calc:sum", [4, 5, 6]).addCallback(self.show)

                  d9 = self.call("calc:pickySum", range(0, 30)).addCallbacks(self.show,
                                                                             self.logerror)

                  ## we want to shutdown the client exactly when all deferreds are finished
                  DeferredList([d1, d2, d3, d4, d5, d6, d7, d8, d9]).addCallback(self.done)


            if __name__ == '__main__':

               log.startLogging(sys.stdout)
               factory = WampClientFactory("ws://localhost:9000", debugWamp = True)
               factory.protocol = SimpleClientProtocol
               connectWS(factory)
               reactor.run()
         </pre>
      </div>

      <p>
         We derive our client {{inlinecode('SimpleClientProtocol')}} protocol from the
         {{(autobahnypthon) }} WAMP client protocol base class {{inlinecode('WampClientProtocol')}} (line 9).
         We create a standard factory using our protocol (line 59, 60), tell Twisted to connect
         the factory (line 61) and start the reactor (line 62).
      </p>

      <p>
         When the WAMP session is established (line 26), we first setup a shorthand prefix for
         the base URI of the RPC'ed methods we want to call (line 28).
      </p>

      <p>
         To initiate an RPC, we use the {{inlinecode('call')}} method on the protocol instance (i.e. line 30)
         which will return us a <a href="http://twistedmatrix.com/documents/current/core/howto/defer.html">Twisted Deferred</a>
         on which we can add success and error callbacks.
      </p>

      <p>
         We can call RPCs not only with arguments of atomic types, but also of complex type, 
         e.g. lists (line 34). The only requirement for arguments and return values of remoted
         procedures and methods is that all of those need to be JSON serializable.
      </p>

      <p>
         Note that since all RPCs execute fully asynchronously, RPC results (and failures)
         will arrive asynchronously, and not necessarily in the order the RPCs were
         issued.
      </p>

      <p>
         When we want to sequence calls, i.e. use the result of RPC 1 in a second RPC 2,
         we can do so by only issuing the dependent RPC within the RPC result handler of
         the first. E.g. see lines 36-37. An alternative syntax using Twisted Inline Callbacks
         for doing the same is shown <a href="https://github.com/tavendo/AutobahnPython/blob/master/examples/wamp/rpc/simple/client_icb.py">here</a>.
      </p>

      <p>
         Since we want to automatically shutdown the client, but only when all RPCs have
         finished, we created a Deferred from all Deferreds created by RPCs (line 53) and
         added a callback that closes the connection and shuts down the reactor.
      </p>

   </div>

{% endblock %} <!-- pagecontent -->
