{% extends "layout_tp.html" %}

{% block subheader %}
   <meta name="description" content="AutobahnPython API Reference.">

   <style>
      iframe[seamless]{
          background-color: transparent;
          border: 0px none transparent;
          padding: 0px;
          overflow: visible;
          width: 100%;
          /*height: 100%;*/
      }
   </style>

   <script type="text/javascript">
      function setIframeHeight()
      {
         //find the height of the internal page
         var height = document.getElementById('thisframe').contentWindow.document.body.scrollHeight;

         //change the height of the iframe
         document.getElementById('thisframe').height = height;
      }
   </script>

{% endblock%}


{% block page %}

   <div class="pagewrapper">
      <iframe src="{{ url_for('static', filename = 'reference/python/index.html') }}" id="thisframe" seamless="seamless" onLoad="setIframeHeight();">
        <p>Your browser does not support iframes.</p>
      </iframe>
   </div> <!-- pagewrapper -->

{% endblock %}
