{% extends "layout_t.html" %}

{% block header %}

   <meta name="description" content="legal notice / Anbieterkennzeichnung">
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_home.css') }}"> -->

   <style type="text/css">
      body {
         background-color: #666;
         color: #fff;
      }

      #home_central_wrapper {
         width: 50%;
         min-width: 500px;
         margin: 0 auto;
      }

      h2 {
         color: #fff;
      }

      td {
         padding: 0.5em 1em 0.5em 0;
         vertical-align: top;
      }

      td:first-of-type {
         font-weight: bold;
      }

   </style>

{% endblock%}


{% block body %}

   <div id="home_central_wrapper" class="impressum">

      <div style="width: 405px; margin: 60px auto 40px auto; background-color: #027EAE;">
         <img src="{{ url_for('static', filename='img/gen/autobahnws_large.svg') }}" width="405" height="64">
      </div>

      <p>
         Since we are hosting the website, as a German company we are required to provide the information below.
      </p>
      <p>
         Any communication regarding one of the Autobahn projects itself should be made using the communications channels listed under the "Get in touch" section of the relevant project.
      </p>

      <h2>Impressum</h2>
      <table>
         <tr>
            <td>Firma</td>
            <td>Crossbar.io GmbH</td>
         </tr>
         <tr>
            <td>Adresse</td>
            <td>
               Waldstraße 18<br>
               91054 Erlangen
            </td>
         </tr>
         <tr>
            <td>Handelsregister</td>
            <td>HRB 15870 Fürth</td>
         </tr>
         <tr>
            <td>Email</td>
            <td>contact@crossbario.com</td>
         </tr>
         <tr>
            <td>UStId</td>
            <td>DE309012368</td>
         </tr>
         <tr>
            <td>Gesch&auml;ftsf&uuml;hrer</td>
            <td>Tobias Oberstein</td>
         </tr>
      </table>
   </div>


{% endblock%}
