/*enforces a sane box model where paddings are not added to the box size*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
   height: auto;
   /*the background of the body gets applied to the HTML, so this needs to be reset to more height as well*/
   /*see: http://stackoverflow.com/questions/20070220/extend-background-gradient-across-body-without-background-attachment-fixed */
   min-height: 100%;
}

body {
   height: auto; /* extend body to fit the entire content instead of limiting it to the height of the html element = screen height */
   /* does not fix the fact that the background has the HTML height */

   background-image: none; /* reset default background gradient to prevent fallback to white background */
   background-color: #027eae;
   color: #fff;
   /*background-attachment: scroll;*/
}

a {
   color: #fff;
   text-decoration: underline;
}

a:visited {
   color: #fff;
   text-decoration: underline;
}

a:hover {
   color: #a5d500;
   text-decoration: underline;
}



#home_central_wrapper
{
   max-width: 1400px;
   margin: 0 auto;
   min-width: 500px;
   width: 90%;
}


#intro {
   width: 90%;
   max-width: 900px;
   min-width: 500px;
   margin: 0 auto 20px auto;
   padding-top: 0px;
   font-family: "Segoe UI Light", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#introhead {
   font-size: 28px;
}

#introsub {
   position: relative;
   font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
   width: 100%;
   margin: 28px auto 14px auto;
   font-size: 16px;
   padding: 8px 40px 20px 40px;
   border-radius: 3px;
   background-color: #f4f4f4;
   box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
   color: #555;
   line-height: 1.5em;
}

#introsub li {
   margin: 8px 0 0 0;

}

#introsub a, a:visited {
   color: #555;
}

#introsub a:hover {
   color: #555;
}

#introsub_twitter {
   position: absolute;
   right: 2px;
   bottom: 9px;
}

.linkboxspacer {
   height: 34px;
}

.forkgithub {
   background-image: url(../img/githubfork_inactive.png);
   background-repeat: no-repeat;
   width: 55px;
   height: 60px;
   position: absolute;
   top: 0px;
   right: 0px;
   display: block;
}

.forkgithub:hover {
   background-image: url(../img/githubfork_active.png);
}



.linkbox {
   background-color: #a5d500;
   border-radius: 20px;
   width: 143px;
   height: 34px;
   display: block;
   margin: auto;
   position: absolute;
   bottom: 12px;
   right: 12px;
   text-decoration: none;
   color: #666;
   padding: 5px 16px;
   font-size: 16px
}

.linkbox:visited {
   color: #666;
}

.linkbox:hover {
   text-decoration: none;
   background-color: #BDF808;
}

.linkbox.crossbar {
   background-image: none;
   color: #444;
   background-color: #999999;
   border-radius: 20px;

   padding: 4px 27px;
   text-decoration: none;
   text-align: center;
}
.linkbox.crossbar:hover {
   background-image: none;
   background-color: #cbcbcb;
}
.crossbar .forkgithub {
   background-image: url(../img/githubfork_inactive_grey.png);
}

.crossbar .forkgithub:hover {
   background-image: url(../img/githubfork_active_grey.png);
}

.notextselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.defaultcursor {
   cursor: default;
}


/* projects container & projects */

.projectsContainer {
   width: 460px;
   margin: 40px auto;
}

.project {
   width: 420px;
   height: 303px;
   float: left;
   margin: 20px;
   position: relative;

   font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;

   background-color: #027eae;

   -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);

   border-radius: 3px;
   padding: 22px 16px 0 22px;
}

.gh_project_watch_count {
   position: absolute;
   left: 20px;
   bottom: 16px;
}

@media (min-width: 1000px) {
   .projectsContainer {
      width: 930px;
   }
}

@media (min-width: 1480px) {
   .projectsContainer {
      width: 1393px;
   }
}

.project.crossbar {
   background-color: #ececec;

   color: #666;

   -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
   -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
   box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.35);

}

.project.crossbar ul li {
   background-image: url("../img/bullet_grey.png");
}


.project.pvideo {
   background-color: #111;
   padding: 8px 0 0 0;
   -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
   -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
   box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.35);
}

.pvideotitle {
   color: #aaa;
   padding-bottom: 8px;
}

.pvideotitle > a, a:visited {
   color: #ddd;
}

.pvideotitle > a:hover {
   color: #fff;
}

/* protocols in intro */

#protocolContainer {
   display: inline-block;
   text-align: center;
   margin: 0px auto;
   width: 90%;
}

#protocolContainer .protocol {
   display: inline-block;

   padding: 0 0 9px 0;

}


#broughtToYouBy {
   font-family: "Segoe UI Light", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   text-align: center;
   margin: 4px 0 40px;
}

.projectsHeader {
   font-size: 24px;
   font-family: "Segoe UI Light", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#impressum {
   width: 100px;
   text-align: center;
   margin: 0 auto;
}

#impressumLink {
   font-size: 14px;
   padding: 0 0 1em;
}

.contactUs {
   font-size: 0.8em;
   margin-bottom: 0;
}

/* example code */


#codeContainer {
    background-color: #eee;

    padding: 1em;
    color: #444;
}

#codeContainer h1 {
    text-align: center;

    font-size: 31px;
    margin-top: 0;
}

#codeContainer #switchBar h3 {
    display: inline-block;

}

#switchBar {
    padding: 0px 0px 0px 0px;

}

#switchBar > div {
    display: inline-block;

    padding: 0.5em 0.8em 0.7em 0.7em;
    border: 1px solid #CCC;
    margin: 0em 0em 0.3em 0em;
    background-color: #E0E0E0;
}

#switchBar > div > h3 {
    margin: 0.3em;

}

#switchBar > div > button {
    border: none;

    background-color: #BBB;
    padding: 3px 10px;
}

#switchBar > div > button.isSelected {
   background-color: #999;
   color: #fff;
   box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
}

/* shared box layout */

.demoBox > div {
   /* border: 1px solid #888; */
   background-color: #1b2426;
}

.codeBox {

}

.codeBox > h3,
.codeBox .selectComponent {
    text-align: center;

    background-color: #fff;
    margin: 0;
    padding: 1em 0;
}

.codeBox > div {
    background-color: #1b2426;

}

.languageBar {
    text-align: center;

}

.languageBar > button {
   border: none;

   background: inherit;
   color: #C9C9C9;
   font-size: 15px;
}

.languageBar > button.highlighted {
   color: #FFF;
   text-decoration: underline;
}

.syntaxContainer {
    height: 600px;

    overflow: auto;
}

/* dualBox layout*/

.dualBox .codeBox {
    width: 50%;

    display: inline-block;
    height: 100%;
    margin: 0 -4px 0px 0;
}

.dualBox .syntaxContainer {

}

/* singleBox layout */

.codeBox .selectComponent {
    padding: 1em;

}

.selectComponent > button {
    border: none;
    padding: 5px 22px;
}

.selectComponent > button.highlighted {
    background-color: #666;
    color: #fff;
}


.singleBox .syntaxContainer {

}

.singleBox {
   position: relative;
}

.singleBox .codeBox:last-of-type {
   position: absolute;
   top: 0;
   left: 0;
   /*visibility: hidden;*/
   width: 100%;
}
.singleBox .codeBox:last-of-type.hidden {
   visibility: hidden;
}

/* dualBox / singleBox switch styles */

.singleBox {
   display: none;
}

@media (max-width: 1200px) {

   .dualBox {
      display: none;
   }

   .singleBox {
      display: block;
   }

}

/*#codeBoxContainer {

}

#codeBoxContainer > .codeBox {

}

#codeBoxContainer > .codeBox > .languageSwitchContainer {

}

#codeBoxContainer > .codeBox > .code {
   position: relative;
   height: 710px;
}

#codeBoxContainer > .codeBox > .code > .language {
    display: inline-block;

    width: 49%;
    vertical-align: top;
    height: 700px;
    overflow: auto;
    background-color: #1b2426;
    text-align: center;
}
#codeBoxContainer > .codeBox > .code > .language > p {
    color: #DDD;

    text-align: center;
    font-size: 19px;
    margin: 0;
}

#codeBoxContainer > .codeBox > .code > .language > button {
    border: none;

    background: inherit;
    color: #ddd;
    font-size: 15px;
}
#codeBoxContainer > .codeBox > .code > .language > button.single {
   display: none;
}
@media (max-width: 1200px) {
   #codeBoxContainer > .codeBox > .code > .language {
      display: block;
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
   }

   #codeBoxContainer > .codeBox > .code > .language.nonDisplay {
      display: none;
   }

   #codeBoxContainer > .codeBox > .code > .language > button.dual {
      display: none;
   }
   #codeBoxContainer > .codeBox > .code > .language > button.single {
      display: inline-block;
   }

   #codeBoxContainer > .codeBox > .code > .language > button {
       cursor: pointer;
       font-weight: bold;
   }

   #codeBoxContainer > .codeBox > .code > .language > button.switch {
      color: #BDBDBD;
      text-decoration: underline;
      font-weight: normal;
}

}




#codeBoxContainer .demoLink {

}*/



.nonDisplay {
    display: none;
}
