{% extends "layout_tpn.html" %}

<!-- Content Page _without_ Sidenav and Source Code Highlighting  -->

{% block subheader %}

   <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_tpn.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_tpnd.css') }}">

   <link href="{{ url_for('static', filename='deps/syntaxhighlighter/styles/shCoreDefault.css') }}" rel="stylesheet" type="text/css" />
   <link href="{{ url_for('static', filename='deps/syntaxhighlighter/styles/shThemeDefault.css') }}" rel="stylesheet" type="text/css" />

   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shCore.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shBrushBash.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shBrushJScript.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shBrushPython.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shBrushXml.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shBrushJava.js') }}" type="text/javascript"></script>

   <script type="text/javascript">
     SyntaxHighlighter.all()
   </script>

   {% block subsubheader %}{% endblock %}

{% endblock %}
