{% extends "layout_t.html" %}

{% block header %}

   <meta name="description" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_home.css') }}">

{% endblock%}


{% block body %}

   <div id="home_central_wrapper">

      <div style="width: 500px; margin: 60px auto 40px auto;">
         <img src="{{ url_for('static', filename='img/autobahnws_large.png') }}" width="500" height="64">
      </div>

      <div id="intro">
         <p>
            The Autobahn project provides open-source client and server implementations of
            <!-- <center>
               <a style="" href="http://tools.ietf.org/html/rfc6455">
                  The WebSocket Protocol
               </a>
               <img style="position: relative; top: 6px;" src="{{ url_for('static', filename='img/websocket_48x48_white.png') }}" width="48" height="48">
               <a style="margin-left: 2em;" href="http://wamp.ws">
                  The WebSocket Application Messaging Protocol
               </a>&nbsp;
               <img src="{{ url_for('static', filename='img/wamp_white.png') }}" width="145" height="26">
            </center> -->
            <div id="protocolContainer">
               <div class="protocol">
                  <a style="" href="http://tools.ietf.org/html/rfc6455">
                     The WebSocket Protocol
                  </a>
                  <img style="position: relative; top: 6px;" src="{{ url_for('static', filename='img/websocket_48x48_white.png') }}" width="48" height="48">
               </div>
               <div class="protocol">
                  <a style="margin-left: 2em;" href="http://wamp.ws">
                     The WebSocket Application Messaging Protocol
                  </a>&nbsp;
                  <img src="{{ url_for('static', filename='img/wamp_white.png') }}" width="145" height="26">
               </div>
            </div>
            <br>
            <br>
            WebSocket allows bidirectional real-time messaging between browsers (as well as other clients) and servers
            and WAMP provides asynchronous RPC and PubSub over WebSocket.
            <br>
            <span style="float: right; margin-right: 2em; margin-top: 0em;">
               <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://autobahn.ws/" data-text="The Autobahn project: open-source WebSocket and WAMP (RPC+PubSub over WebSocket) implementations." data-count="none" data-hashtags="websocket,wamp">Tweet</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </span>
         </p>
         <br>
      </div>

     <div id="projectsContainer">
         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahnpython.png') }}" width="343" height="44">
            <p>
               AutobahnPython is a WebSocket / WAMP
               client and server framework based on Twisted.
               It's conformant, scalable and flexible.
            </p>
            <p>
               <ul>
                  <li>WebSocket Hixie-76, Hybi-10+, RFC6455</li>
                  <li>WAMP v1</li>
                  <li>framework for clients and servers</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_python') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnPython"></a>
         </div>

         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahnjs.png') }}" width="280" height="44">
            <p>
               AutobahnJS is a WAMP client library. It works together with
               any WAMP server and provides
               asynchronous RPC and PubSub to browser based apps.
            </p>
            <p>
               <ul>
                  <li>WAMP v1</li>
                  <li>Pluggable Deferreds: when.js, jQuery, Dojo ..</li>
                  <li>Auto-reconnect, Client authentication, ..</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_js') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnJS"></a>
         </div>

         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahnandroid.png') }}" width="353" height="44">
            <p>
               AutobahnAndroid is a WebSocket / WAMP
               client library for native Java Android apps.
               It's conformant, fast and plays fine with Android
               UI activities as well as background services.
            </p>
            <p>
               <ul>
                  <li>WebSocket RFC6455</li>
                  <li>WAMP v1</li>
                  <li>optimized for Android</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_android') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnAndroid"></a>
         </div>

         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahntestsuite.png') }}" width="374" height="44">
            <p>
               AutobahnTestsuite is a comprehensive WebSocket protocol test
               suite for verifying WebSocket client and server implementations.
            </p>
            <p>
               <ul>
                  <li>over 300 test cases</li>
                  <li>fully automated testing</li>
                  <li>used by more than 30 projects</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_testsuite') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnTestSuite"></a>
         </div>

         <div class="project crossbar">
            <img style="" src="{{ url_for('static', filename='img/crossbar_logo_with_background.png') }}" width="280" height="44">
            <p>
               Open source multi-protocol application router based on Autobahn and WAMP.
            </p>
            <p>
               <ul>
                  <li>RPC and PubSub for distributed applications</li>
                  <li>Direct-to-database messaging</li>
                  <li>No application server needed</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox crossbar" href="http://crossbar.io">Project Site</a>
            <a class="forkgithub" href="https://github.com/crossbario"></a>
         </div>

         <div style="clear: both"></div>
      </div>



      {% if session["debug"] %}
         <!-- Twitter code excluded in debug-mode -->
      {% else %}
         <div style="position: fixed; top: 16px; right: 32px;">
            <a href="https://twitter.com/autobahnws" class="twitter-follow-button" data-show-count="false">Follow @autobahnws</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         </div>
      {% endif %}

<!--       <center style="font-size: 14px;">
         Autobahn WebSocket technology is brought to you by
         <a href="http://www.tavendo.de"><img style="" src="{{ url_for('static', filename='img/tavendosmall.png') }}" width="118" height="18"></a>
      </center>
      <br><br> -->

      <div id="broughtToYouBy">
         Autobahn WebSocket technology is brought to you by
         <a href="http://www.tavendo.de"><img style="" src="{{ url_for('static', filename='img/tavendosmall.png') }}" width="118" height="18"></a>
      </div>



   </div>

{% endblock%}
