{% extends "layout_t.html" %}

{% block header %}

   <meta name="description" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_home.css') }}">

{% endblock%}


{% block body %}

   <div id="home_central_wrapper">

      <div style="width: 405px; margin: 40px auto 40px auto;">
         <img src="{{ url_for('static', filename='img/autobahnws_large_plain.png') }}" width="405" height="64">
      </div>

      <div id="intro">

         <center id="introhead">
            Open-source real-time framework for Web, Mobile &amp; Internet of Things.
            <span>
               <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=autobahnws&show_count=false&show_screen_name=false" style="width:80px; height:20px;"></iframe>
            </span>
            <span>
               <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=http://autobahn.ws/&via=autobahnws&hashtags=websocket,iot&text=Autobahn: open-source real-time framework for Web, Mobile and Internet of Things" style="width:100px; height:20px;"></iframe>
            </span>
         </center>

         <p id="introsub">
               The Autobahn project provides open-source implementations of the
               <a href="http://tools.ietf.org/html/rfc6455">WebSocket</a> and
               <a href="http://wamp.ws">WAMP</a> protocols.
               WebSocket allows bidirectional real-time messaging on the Web and WAMP adds
               asynchronous Remote Procedure Calls and Publish &amp; Subscribe on top of WebSocket.
         </p>

         <div id="broughtToYouBy">
            Autobahn is a community project started and sponsored by
            <a href="http://www.tavendo.com"><img style="" src="{{ url_for('static', filename='img/tavendosmall.png') }}" width="118" height="18"></a>
         </div>

      </div>

     <div id="projectsContainer">
         <center id="projectsHeader">
            Explore the Autobahn subprojects and gallery:
         </center>
         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahnpython.png') }}" width="343" height="44">
            <p>
               AutobahnPython is a WebSocket / WAMP
               client and server framework based on Twisted.
               It's conformant, scalable and flexible.
            </p>
            <p>
               <ul>
                  <li>WebSocket Hixie-76, Hybi-10+, RFC6455</li>
                  <li>WAMP v1</li>
                  <li>framework for clients and servers</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_python') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnPython"></a>
         </div>

         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahnjs.png') }}" width="280" height="44">
            <p>
               AutobahnJS is a WAMP client library. It works together with
               any WAMP server and provides
               asynchronous RPC and PubSub to browser based apps.
            </p>
            <p>
               <ul>
                  <li>WAMP v1</li>
                  <li>Pluggable Deferreds: when.js, jQuery, Dojo ..</li>
                  <li>Auto-reconnect, Client authentication, ..</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_js') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnJS"></a>
         </div>

         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahnandroid.png') }}" width="353" height="44">
            <p>
               AutobahnAndroid is a WebSocket / WAMP
               client library for native Java Android apps.
               It's conformant, fast and plays fine with Android
               UI activities as well as background services.
            </p>
            <p>
               <ul>
                  <li>WebSocket RFC6455</li>
                  <li>WAMP v1</li>
                  <li>optimized for Android</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_android') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnAndroid"></a>
         </div>

         <div class="project">
            <img style="" src="{{ url_for('static', filename='img/autobahntestsuite.png') }}" width="374" height="44">
            <p>
               AutobahnTestsuite is a comprehensive WebSocket protocol test
               suite for verifying WebSocket client and server implementations.
            </p>
            <p>
               <ul>
                  <li>over 300 test cases</li>
                  <li>fully automated testing</li>
                  <li>used by more than 30 projects</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox" href="{{ url_for('page_testsuite') }}"></a>
            <a class="forkgithub" href="https://github.com/tavendo/AutobahnTestSuite"></a>
         </div>

         <div class="project crossbar">
            <img style="" src="{{ url_for('static', filename='img/crossbar_icon_and_text.png') }}" width="260" height="44">
            <p>
               Open source multi-protocol application router based on Autobahn and WAMP.
            </p>
            <p>
               <ul>
                  <li>RPC and PubSub for distributed applications</li>
                  <li>Direct-to-database messaging</li>
                  <li>No application server needed</li>
               </ul>
            </p>
            <div class="linkboxspacer"></div>
            <a class="linkbox crossbar" href="http://crossbar.io">Project Site</a>
            <a class="forkgithub" href="https://github.com/crossbario"></a>
         </div>

         <div class="project pvideo">
            <center class="pvideotitle"><a href="http://record-evolution.com/">REone</a> business app built with <a href="http://crossbar.io/">Crossbar.io</a> on Oracle</center>
            <iframe id="sixtdemo" class="demothumb" type="text/html" width="420" height="263" src="http://www.youtube.com/embed/J80b3qbYKqc?hd=1&frameborder=0&allowfullscreen&autohide=2&modestbranding=1&showinfo=0&rel=0&origin=http://autobahn.ws" frameborder="0"/></iframe>
         </div>

         <div class="project pvideo">
            <center class="pvideotitle"><a href="http://showroomdummy.com/">Connected Car</a> demo built with <a href="http://crossbar.io/">Crossbar.io</a></center>
            <iframe id="sixtdemo" class="demothumb" type="text/html" width="420" height="263" src="http://www.youtube.com/embed/l0A6__tLreY?hd=1&frameborder=0&allowfullscreen&autohide=2&modestbranding=1&showinfo=0&rel=0&origin=http://autobahn.ws" frameborder="0"/></iframe>
         </div>


         <div class="project pvideo">
            <center class="pvideotitle"><a href="http://showroomdummy.com/">3D desktop-to-mobile</a> built with <a href="http://crossbar.io/">Crossbar.io</a></center>
            <iframe id="sixtdemo" class="demothumb" type="text/html" width="420" height="263" src="http://www.youtube.com/embed/8WSCbyTcy-Y?hd=1&frameborder=0&allowfullscreen&autohide=2&modestbranding=1&showinfo=0&rel=0&origin=http://autobahn.ws" frameborder="0"/></iframe>
         </div>

         <div class="project pvideo">
            <center class="pvideotitle">Arduino real-time charting built <a href="http://autobahn.ws/python/">Autobahn</a></center>
            <iframe id="sixtdemo" class="demothumb" type="text/html" width="420" height="263" src="http://www.youtube.com/embed/va7j86thW5M?hd=1&frameborder=0&allowfullscreen&autohide=2&modestbranding=1&showinfo=0&rel=0&origin=http://autobahn.ws" frameborder="0"/></iframe>
         </div>

         <div style="clear: both"></div>
      </div>

   </div>

{% endblock%}
